@import "../../../../../../assets/css/abstracts/_mixins.scss";
@import "../../../../../../assets/css/abstracts/_variables.scss";

::ng-deep {
  .watchlist-popup {
    width: 600px;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;

    @media screen and (max-width: $screen-md) {
      @include animation(slide-in-bottom ease-in .2s);
      width: 100%;
      position: absolute;
    }

    .modal {
      @media screen and (max-width: $screen-md) {
        &-content {
          @include border-radius(0px);
          height: 100%;
        }
      }

      &__info {
        padding: 20px;

        @media screen and (max-width: $screen-md) {
          background: #fff;
        }

        &-close {
          filter: brightness(0) invert(1);
          position: absolute;
          top: 0;
          right: -30px;
          width: 15px;

          @media screen and (max-width: $screen-md) {
            filter: inherit;
            right: 20px;
            top: 20px;
          }
        }

        &-section {
          margin-bottom: 40px;
          display:flex;
          justify-content: space-between;
          align-items: center;

          @media screen and (max-width: $screen-md) {
            display: block;
            text-align: center;
          }

          img {
            width: 100%;
          }
        }
        
        &__price {
          margin-left: 20px;
          vertical-align: top;

          @media screen and (max-width: $screen-md) {
            margin: 40px 0 0;
            text-align: left;
          }

          &-title {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
    
            h2 {
              @include font-size(26px);
              color: #404340;
              margin: 0px;
              line-height: 27px;
            }
    
          }    

          &__prices {
            width: 50%;
            display: inline-block;

            &-title,
            &-time {
              @include font-size(14px);
              font-family: 'AL', sans-serif;
              padding-left: 2px;
              margin: 0 0 -4px 0;
            }

            &-title {
              color: #404340;
            }

            &-time {
              color: #a1a1a1;
            }

            &-green,
            &-regular,
            &-cross {
              @include font-size(36px);
              font-family: 'AB', sans-serif;
              line-height: 40px;
              margin: 0px;
            }

            &-green {
              color: $green;
            }

            &-cross {
              text-decoration: line-through;
              color: #a1a1a1;
            }
          }
        }

        &__table {
          @include font-size(18px);
          margin: 0px;
          thead {
            td {
              font-family: 'AL', sans-serif;
              line-height: 24px;
              color: #a1a1a1;
            }
          }

          th,
          td {
            vertical-align: middle;
          }

          tbody,
          thead {
            td {
              &:last-child {
                text-align: right;
              }
            }
          }

          tbody {
            tr {
              color: #404340;
              font-family: 'AB', sans-serif;

              td {
                border-top: 1px solid #ccc;
                padding-top: 15px;
                padding-bottom: 15px;
              }
            }
          }

          .btn {
            width: 100%;
            max-width: 120px;
            font-weight: 400;
            letter-spacing: .5px;

            &:visited,
            &:active {
              color: inherit;
            }
          }
        }
      }
    }
  }
}
