<div class="policies__container__sidebar">
  <div class="policies__container__sidebar__container">
    <h3 class="policies__container__sidebar__container-title">Terms</h3>
    <ul class="policies__container__sidebar__container__items">
      <li class="policies__container__sidebar__container__items__item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a routerLink="/policies/terms-of-use">Customer Terms of Service</a>
      </li>
    </ul>
    <h3 class="policies__container__sidebar__container-title">Policies</h3>
    <ul class="policies__container__sidebar__container__items">
      <li class="policies__container__sidebar__container__items__item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a routerLink="/policies/privacy-policy">Grceri Privacy Policy</a>
      </li>
      <li class="policies__container__sidebar__container__items__item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a routerLink="/policies/cookie-policy">Cookie Policy</a>
      </li>
    </ul>
  </div>
</div>
