<a 
  (click)="gEvent()"
  [routerLink]="['/grocery/', product(name), productID]">
  <div class="image">
    <div class="image-container">
      <ng-container *ngIf="images; else: none">
        <img [defaultImage]="load" [lazyLoad]="images" [alt]="name" />
      </ng-container>
      <ng-template #none>
        <img [src]="noImage" alt="No Image Found" />
      </ng-template>
    </div>
  </div>

  <div class="meta">
    <h4>
      <div class="meta-content" style="-webkit-box-orient: vertical">{{name}}</div>
    </h4>

    <div class="rating">
      <bar-rating [(rate)]="rating" [max]="5" readOnly="true" theme="fontawesome-o"></bar-rating>
      <span>{{ratingC}}</span>
    </div>

    <div class="price">
      <ng-container *ngIf="Lprice !== 0 && Lprice !== Hprice; else: other">
        <ng-container *ngIf="Lprice === Hprice; else: different">
          ${{ Hprice | number : '1.2' }
        </ng-container>
        <ng-template #different>
          ${{ Lprice | number : '1.2' }} - ${{ Hprice | number : '1.2' }}
        </ng-template>
      </ng-container>
      <ng-template #other>
        ${{ Hprice | number : '1.2' }}
      </ng-template>
    </div>
  </div>
</a>
