// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

//  BEM - Block Element Modifier
//  This is how our code is structured. Please follow this layout and format.
//  More Info: https://css-tricks.com/bem-101/
//
//  .steps {
//	    &__item {		
//		    &--first {}
//		    &--last {}
//		    &--active {}
//		    &--done {}
//	    }
//	    &__link {}
//  }

@import "../../../../../../../assets/css/abstracts/_mixins.scss";
@import "../../../../../../../assets/css/abstracts/_variables.scss";

.product {
  &__section {
    @include font-size(15px);

    &-title {
      @include font-size(30px);
      font-family: 'B', serif;
      padding: 0 0 15px;
      margin: 6.5% 0 0;
      font-weight: 400;
      letter-spacing: .5px;

      @media (max-width: $screen-xs) {
        @include font-size(22px);
      }
    }

    strong {
      font-family: 'AB', serif;
      font-weight: 400;
      margin-right: 5px;
    }

    &__nutrition {
      &-title {
        margin-bottom: 0px;
      }

      &-legend {

        li {
          @include font-size(14px);
          display: inline-block;
          padding-left: 12px;
          position: relative;
          margin-right: 10px;

          &:before {
            @include border-radius(100%);
            width: 6px;
            height: 6px;
            position: absolute;
            left: 0px;
            top: 6px;
            content: '';
          }

          &:last-child {
            margin: 0px;
          }
        }

        &-pos {
          &:before {
            background: $green;
          }
        }

        &-mod {
          &:before {
            background: $yellow;
          }
        }

        &-neg {
          &:before {
            background: $red;
          }
        }
      }

      &__group {
        &-list {
          li {
            font-family: 'AL', serif;
            margin-bottom: 2px;

            &:last-child {
              margin: 0px;
            }
          }
        }

        &-title {
          letter-spacing: .5px;
          margin-bottom: 10px;
        }

        &__category {
          display: table;
          width: 100%;
          margin-bottom: 10px;

          &-title {
            letter-spacing: .5px;
            margin-bottom: 5px;
          }

          &-half {
            float: left;
            width: 50%;
          }

          &-row {
            display: table;
            width: 100%;
            margin-bottom: 10px;
          }

          &-value {
            img {
              width: 13px;
            }
          }

          &-pos {
            .product__section__nutrition__group__category-value {
              color: $green;
            }
          }

          &-mod {
            .product__section__nutrition__group__category-value {
              color: $yellow;
            }
          }

          &-neg {
            .product__section__nutrition__group__category-value {
              color: $red;
            }
          }
        }

        &-table {
          width: 100%;

          &-hr {
            th {
              padding-top: 6px;
              border-top: 1px solid #eee;
            }
          }

          &-right {
            font-family: 'AL', serif;
            text-align: right;
          }

          &-title {
            @include font-size(15px);
            font-family: 'AM', serif;
          }

          &-subtitle {
            @include font-size(14px);
            font-style: italic;
            font-family: 'AL', serif;
            padding-left: 30px;
          }

          &-pos,
          &-mod,
          &-neg {
            bar-rating {
              .br .br-unit {
                background-color: #fafafa;
              }
            }
          }

          &-pos {
            bar-rating {
              .br .br-unit {
                &.br-selected {
                  background-color: $green;
                }
              }
            }
          }

          &-mod {
            bar-rating {
              .br .br-unit {
                &.br-selected {
                  background-color: $yellow;
                }
              }
            }
          }

          &-neg {
            bar-rating {
              .br .br-unit {
                &.br-selected {
                  background-color: $red;
                }
              }
            }
          }

          thead {
            font-family: 'AB', serif;

            tr {
              th {
                padding-bottom: 5px;

                span {
                  float: right;
                }
              }

            }
          }

          tbody {
            tr {
              th {
                padding-bottom: 4px;

                bar-rating {
                  margin: 0 10px;

                  .br .br-unit {
                    width: 5px;
                    height: 9px;
                    margin: 0px;
                  }
                }
              }
            }
          }
        }

        &-ingredients {
          margin-bottom: 10px;
        }
      }
    }
  }
}
