// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

//  BEM - Block Element Modifier
//  This is how our code is structured. Please follow this layout and format.
//  More Info: https://css-tricks.com/bem-101/
//
//  .steps {
//	    &__item {		
//		    &--first {}
//		    &--last {}
//		    &--active {}
//		    &--done {}
//	    }
//	    &__link {}
//  }

@import "../../../../assets/css/abstracts/_mixins.scss";
@import "../../../../assets/css/abstracts/_variables.scss";

header {
  position: relative;

  &.main {
    .arrange {
      position: relative;

      .arrange_unit {
        vertical-align: middle;

        &.logo {

          a {
            display: block;
            height: 18px;

            img {
              width: 100px;
            }
          }

          @media (min-width: $screen-lg) {
            width: 120px;
          }

          @media (max-width: $screen-sm) {
            padding: 0px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -16.65px;
            margin-left: -15px;

            a {
              height: inherit;

              img {
                width: 30px;
              }
            }
          }
        }

        &.user-nav {
          width: 50px;
          position: relative;
          padding-left: 20px;

          &:before {
            position: absolute;
            border-left: 1px solid #ddd;
            content: '';
            height: 20px;
            left: 0;
            top: 25px;
          }
        }

        &.signin {
          text-align: center;
          padding: 5px 0;
        }

        search-input {
          padding: 15px 20px 15px;
          width: 60%;
          display: inline-block;
          vertical-align: middle;

          @media (max-width: $screen-lg) {
            width: 80%;
          }

          &.searchbar-focused {
            width: 70%;

            @media (max-width: $screen-lg) {
              width: 80%;
            }

            @media (max-width: $screen-sm) {
              width: 75%;
            }

            ::ng-deep {
              @media (min-width: $screen-xl) {
                .search .search-wrapper {
                  .wrapper {
                    label {
                      padding: 0 10px 0 15px;
                    }
                  }

                  .inner-wrapper {
                    width: 92%;

                    .overflow {
                      width: 91%;

                      input {
                        width: 91%;
                      }
                    }
                  }

                  .filter {
                    width: 8%;
                  }
                }
              }
            }
          }

          ::ng-deep {
            .search .search-wrapper {
              .wrapper {
                @include border-radius(4px);
                background: #fff;
                border: 1px solid #f3f3f3;

                .inner-wrapper {
                  width: 88%;

                  input {
                    background: transparent;
                  }

                  .overflow {
                    width: 84%;
                  }

                  .food-dropdown {
                    @include box-shadow(none);
                    border: 1px solid #f3f3f3;
                    border-top: none;
                    top: 41px;
                    left: -1px;
                  }
                }

                .filter {
                  width: 11%;

                  ul {
                    left: -160px;
                    width: initial;
                  }
                }
              }
            }
          }
        }

        &.mobile-menu {
          .hamburger {
            padding-right: 10px;
          }
        }
      }
    }

    @media (max-width: $screen-sm) {
      display: none;
    }
  }

  &.home {
    position: absolute;
    top: 10px;
    left: 0px;
    right: 0px;
    z-index: 1;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    ul {
      &.account {
        >li {
          >a {
            color: $white;
          }
        }
      }
    }

    .mobile-menu {
      .hamburger {

        .hamburger-inner,
        .hamburger-inner::before,
        .hamburger-inner::after {
          background-color: #fff;
        }

        &.is-active .hamburger-inner,
        &.is-active .hamburger-inner::before,
        &.is-active .hamburger-inner::after {
          background-color: #fff;
        }
      }
    }

    .user-nav {
      color: $white;
      margin-left: auto;
    }

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      background-color: $white;
    }
  }

  ul {
    &.account {
      @include font-size(15px);
      text-transform: uppercase;
      line-height: 20px;
      position: relative;

      >li {
        margin: 0px;
        padding: 15px 0;
        display: inline-block;
        position: relative;

        >a {
          color: #888;
          letter-spacing: 2px;

          margin: 0 1.2em;

          &.dropdown {
            margin-right: 20px;

            >i {
              font-size: 80%;
              margin-left: 2px;
            }
          }

          &:hover {
            color: #666;
          }
        }

        &.active {
          a {
            color: #333;
          }
        }

        &.signup {
          @include border-radius(20px);
          background: #fff;
          padding: 10px 0;

          a {
            color: #333 !important;
          }
        }

        &:hover {
          >ul {
            display: block;

            li:hover {
              >a {
                background: #444;
              }
            }
          }
        }

        >ul {
          top: 100%;
          text-transform: capitalize;
          padding: 5px 0;
          box-shadow: none;
          position: absolute;
          display: none;
          min-width: 280px;
          background: #f0f0f0;
          z-index: 3;

          li {
            display: block;
            margin: 0px;
            position: relative;

            >a {
              @include font-size(16px);
              font-family: 'AB', sans-serif;
              letter-spacing: .5px;
              display: block;
              padding: 5px 15px;
              border: none;
              color: #444;

              i {
                font-size: 80%;
                float: right;
                margin: 0 0 0 15px;
                padding: 4px 0;
              }
            }

            &.active {
              a {
                background: #444;
                color: #fff;
              }
            }

            &:hover {
              a {
                color: #fff;
                background: #444;
              }

              .sub {
                display: block;

                li:hover {
                  >a {
                    background: #3f3f3f;
                  }

                  .sub-sub {
                    display: block;

                    li:hover {
                      >a {
                        background: #3a3a3a;
                      }

                      .sub-sub-sub {
                        display: block;

                        li:hover {
                          >a {
                            background: #2f2f2f;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }

            >.sub {
              display: none;
              position: absolute;
              top: 0;
              left: 100%;
              min-width: 280px;

              &:after {
                display: none;
              }

              >li {
                >a {
                  @include font-size(15px);
                  background: #444;
                  font-family: 'AM', sans-serif;
                  letter-spacing: 1px;
                  color: #fff;

                  i {
                    position: relative;
                    top: 1px;
                  }
                }

                >.sub-sub {
                  display: none;
                  position: absolute;
                  top: 0;
                  left: 100%;
                  min-width: 220px;

                  >li {
                    >a {
                      @include font-size(14px);
                      letter-spacing: .5px;
                      background: #3f3f3f;
                      font-family: 'AL', sans-serif;
                    }

                    >.sub-sub-sub {
                      display: none;
                      position: absolute;
                      top: 0;
                      left: 100%;
                      min-width: 220px;

                      &:after {
                        display: none;
                      }

                      >li {
                        >a {
                          @include font-size(13px);
                          background: #3a3a3a;
                          font-family: 'AL', sans-serif;
                          letter-spacing: 1px;
                          color: #fff;

                          i {
                            position: relative;
                            top: 1px;
                          }
                        }
                      }
                    }
                  }

                  &:after {
                    display: none;
                  }
                }

                &:hover {
                  ul {
                    display: block;

                    li {
                      &:hover a {
                        background: #393939;
                      }
                    }
                  }
                }
              }
            }
          }

          &:after {
            bottom: 100%;
            left: 50px;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(136, 183, 213, 0);
            border-bottom-color: #f0f0f0;
            border-width: 5px;
            margin-left: -5px;
          }
        }
      }
    }

    .sub-nav {
      position: relative;

      ul {
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100%;
        overflow: hidden;
        z-index: 1;
        padding: 0;
        align-items: flex-end;
        position: relative;

        li {
          display: flex;

          a {
            @include font-size(13px);
            color: #666;
            font-weight: 500;
            padding-top: 10px;
            padding-bottom: 10px;
            line-height: 22px;

            &:hover {
              color: #333;
            }
          }
        }
      }
    }

    &.user {
      .btn-group {

        &.profile {
          display: flex;

          .profile-content {
            cursor: pointer;

            >* {
              display: inline-block;
            }

            .user {
              @include border-radius(3px);
              display: inline-block;
              height: 30px;
              width: 30px;
              vertical-align: middle;
            }

            .account-name {
              @include font-size(15px);
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              max-width: 180px;
              line-height: 18px;
              margin-left: 12px;
              vertical-align: middle;
              position: relative;

              .name {
                font-weight: 400;
                font-family: 'AB', serif;
                display: block;
              }

              @media (max-width: $screen-xl) {
                display: none;
              }
            }

            i {
              margin-left: 8px;
            }
          }

          .dropdown-menu {
            @include border-radius(0px);
            right: 0px;
            top: 99%;
            margin-top: 18px;
            padding: 5px 0;
            min-width: 175px;
            background: #eee;
            border: none;
            box-shadow: none;

            li {
              @include font-size(15px);
              font-family: 'AM', serif;

              a {
                padding: 7px 15px;
                display: block;
                color: #444;
              }

              &.active,
              &:hover {
                a {
                  background: #333;
                  color: #eee;
                }
              }
            }

            &:after {
              bottom: 100%;
              right: 25px;
              border: solid transparent;
              content: " ";
              height: 0;
              width: 0;
              position: absolute;
              pointer-events: none;
              border-color: rgba(136, 183, 213, 0);
              border-bottom-color: #eee;
              border-width: 5px;
              margin-left: -5px;
            }
          }
        }

        i {
          position: relative;
          margin-left: 5px;
          top: 2px;
        }
      }
    }
  }
}
