<div class="row">
  <nav class="col-md-12">
    <h3 class="footer-nav-title">Shop Groceries</h3>
    <div class="row">
      <div class="col col-md-6">
        <ul class="footer-nav__list">
          <li class="footer-nav__list__item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink]="['/groceries/baking']">Baking</a>
          </li>
          <li class="footer-nav__list__item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink]="['/groceries/beverages']">Beverages</a>
          </li>
          <li class="footer-nav__list__item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink]="['/groceries/breakfast-cereal']">Breakfast & Cereal</a>
          </li>
          <li class="footer-nav__list__item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink]="['/groceries/condiments-sauces-spices']">Condiments, Sauces & Spices</a>
          </li>
          <li class="footer-nav__list__item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink]="['/groceries/organic-foods']">Organic Foods</a>
          </li>
          <li class="footer-nav__list__item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink]="['/groceries/fresh-food']">Fresh Food</a>
          </li>
          <li class="footer-nav__list__item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink]="['/groceries/chocolate-candy-gum']">Chocolate, Candy & Gum</a>
          </li>
          <li class="footer-nav__list__item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink]="['/groceries/kosher-foods']">Kosher Foods </a>
          </li>
        </ul>
      </div>
      <div class="col col-md-6">
        <ul class="footer-nav__list">
          <li class="footer-nav__list__item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink]="['/groceries/snacks-cookies-chips']">Snacks, Cookies & Chips</a>
          </li>
          <li class="footer-nav__list__item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink]="['/groceries/fresh-food']">Frozen Foods</a>
          </li>
          <li class="footer-nav__list__item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink]="['/groceries/meal-solutions-grains-pasta']">Meal groceries, Grains & Pasta</a>
          </li>
          <li class="footer-nav__list__item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink]="['/groceries/soups']">Soups</a>
          </li>
          <li class="footer-nav__list__item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink]="['/groceries/international-foods']"> International Foods </a>
          </li>
          <li class="footer-nav__list__item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink]="['/groceries/gift-baskets']">Gift Baskets</a>
          </li>
          <li class="footer-nav__list__item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink]="['/groceries/gluten-free-foods']">Gluten-Free Foods</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- <nav class="col-md-3">
    <h3 class="footer-nav-title">Resources</h3>
    <ul class="footer-nav__list">
      <li class="footer-nav__list__item">
        <a target="_blank" href="https://grceri.zendesk.com/hc/en-us">Help Center</a>
      </li>
      <li class="footer-nav__list__item">
        <a onclick="_urq.push(['Feedback_Open'])">Feedback</a>
      </li>
      <li class="footer-nav__list__item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a routerLink="/pricing">Pricing</a>
      </li>
      <li class="footer-nav__list__item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a routerLink="/blog">Blog</a>
      </li>
    </ul>
  </nav> -->
</div>