// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
body {
  background: $body-bg;
  color: $gray-dark;
  font-family: "AM", Helvetica, Arial, sans-serif;
  line-height: 1.3;
  
  &.is-active {
    overflow-y: hidden;
  }
}

html {
  @media (max-width: $screen-lg) {
    font-size: 90%;
  }

  app-root:not(.mobile) {
    @media (max-width: $screen-sm) {
      .container {
        max-width: 450px;
        width: 100%;
      }
    }
  }
}

.mobile-search {
  display: none;

  search-input {
    display: grid;
    margin: 0 15px 15px;

    .wrapper {
      @include border-radius(3px);
      position: relative;
      display: flex;

      label {
        padding-left: 10px;
      }

      .inner-wrapper {
        padding-left: 15px;
        width: inherit;

        &:after {
          display: none !important;
        }

        .overflow {
          width: 100%;

          input {
            width: 100%;
            padding: 13px 0;
          }
        }
      }

      .mobile-actions {
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        width: 100px;
        align-items: center;

        img {
          width: 20px;
        }
      }
    }
  }
}

/* Fixes Firefox anomaly during image load */
@-moz-document url-prefix() {
  img:-moz-loading {
    visibility: hidden;
  }
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
* {
  @include box-sizing(border-box);

  &::before,
  &::after {
    @include box-sizing(border-box);
  }
}

@media (min-width: $screen-xl) {
  .container {
    width: $screen-xl;
  }
}

@media (min-width: $screen-xxl) {
  .container {
    max-width: $screen-xxl;
    width: 100%;
  }
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.no-margin {
  margin: 0px;
}


/**
 * Basic styles for links
 */
a {
  @include transition(color .42s cubic-bezier(.165, .84, .44, 1));
  color: inherit;
  cursor: pointer;
  text-decoration: none;

  &:visited {
    color: $link-color;
  }

  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }

  &:active {
    color: $link-color;
  }
}

button {

  &[disabled] {
    @include opacity(.5);
    cursor: default;
  }
}
