@import "../../../../assets/css/abstracts/_mixins.scss";
@import "../../../../assets/css/abstracts/_variables.scss";

.sort {
  select {
    @include border-radius(3px);
    display: inline-flex;
    vertical-align: middle;
    border: 1px solid #ccc;
    padding: 2px;
  }

  span {
    font-weight: 500;
    border-right: 1px solid #f3f3f3;
    margin-right: 10px;
    padding-right: 5px;
    vertical-align: middle;
  }
}

@media screen and (max-width: $screen-xs) {
  .sort {
    span {
      display: none;
    }

    select {
      margin: 20px;
      width: -webkit-fill-available;
      padding: 7px;
    }
  }
}
