<div class="card-header">
  <h2>Usage <button class="btn btn-primary small">Edit Plan</button></h2>
</div>
<div class="card-body">
  <div class="row hidden-xs">
    <div class="col col-sm-6">
      <div>History</div>
      <div>Watchlists</div>
      <div>Product Lists</div>
      <div>Favorites</div>
    </div>
    <div class="col col-sm-6 text-right">
      <bar-rating rate="2" max="20" readOnly="true" theme="horizontal"></bar-rating>
      <bar-rating rate="5" max="20" readOnly="true" theme="horizontal"></bar-rating>
      <bar-rating rate="8" max="20" readOnly="true" theme="horizontal"></bar-rating>
      <bar-rating rate="3" max="20" readOnly="true" theme="horizontal"></bar-rating>
    </div>
  </div>
  <div class="visible-xs">
    <div>
      History       
      <bar-rating rate="2" max="20" readOnly="true" theme="horizontal"></bar-rating>
    </div>
    <div>
      Watchlists
      <bar-rating rate="5" max="20" readOnly="true" theme="horizontal"></bar-rating>
    </div>
    <div>
      Product Lists
      <bar-rating rate="8" max="20" readOnly="true" theme="horizontal"></bar-rating>
    </div>
    <div>
      Favorites
      <bar-rating rate="3" max="20" readOnly="true" theme="horizontal"></bar-rating>
    </div>
  </div>
</div>
