<div class="side-nav">
  <button class="hamburger hamburger--squeeze is-active" type="button" (click)="close.emit(false)">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
  <div class="side-nav-bg" (click)="close.emit(false)"></div>
  <div class="side-nav__container">
    <section class="side-nav__container-header">
      <ng-container *ngIf="!login(); else not">
        <a routerLink="/login">Account / Sign In <i class="fa fa-angle-right"></i></a>
      </ng-container>
      <ng-template #not>
        <a (click)="resetNav(); showMenu(0);" routerLink="/user">My Account <i class="fa fa-angle-right"></i></a>
      </ng-template>
    </section>
    <div class="side-nav__container__content">
      <div class="side-nav__container__content__section side-nav__container__content__section-visible"
        [attr.data-sidebar-id]="0">
        <section>
          <h3 class="side-nav__container__content__section-title">
            Departments <a (click)="GS.event('link', 'Header - Categories', 'click', 0); resetNav();"
              [routerLink]="['/groceries']">See All</a>
          </h3>
          <ul>
            <ng-container *ngFor="let a of data; let i = index">
              <ng-container *ngIf="a.categories.length; else parent">
                <li>
                  <a (click)="showMenu(i + 1)">{{a.name}} <i class="fa fa-angle-right"></i></a>
                </li>
              </ng-container>
              <ng-template #parent>
                <li>
                  <a [routerLink]="['/groceries/', url(a)]" (click)="resetNav(); gEvent(a.name)">{{a.name}}</a>
                </li>
              </ng-template>
            </ng-container>
          </ul>
        </section>
        <section class="sidebar_prompt" *ngIf="IS.deferredPrompt">
          <div class="sidebar_prompt-section-header">
            <img src="assets/favicon/android-chrome-192x192.png" al="" />
            Find what you need faster with our free app!
          </div>
          <div class="sidebar_prompt-section-btns">
            <a class="sidebar_prompt-section-btns-no" (click)="IS.deferredPrompt = null">Not Now</a>
            <a class="sidebar_prompt-section-btns-btn btn" (click)="IS.clickPrompt('Sidebar Panel')">Install</a>
          </div>
        </section>
      </div>

      <ng-container *ngFor="let a of data; let x = index;">
        <div class="side-nav__container__content__section side-nav__container__content__section-right"
          [attr.data-sidebar-id]="x + 1">
          <section>
            <a class="side-nav__container__content__section-back" (click)="showMenu(0)">
              <img alt="arrow-left" src="assets/svg/mobile/arrow-left.svg">
              <h2>Main Menu</h2>
            </a>
            <h3 class="side-nav__container__content__section-title">{{a.name}}</h3>
            <ul>
              <li *ngFor="let b of a.categories; let i = index;">
                <a [routerLink]="['/groceries/', url(a), url(b)]" (click)="resetNav(); showMenu(0); gEvent(b.name)">{{b.name}}</a>
              </li>
            </ul>
          </section>
        </div>
      </ng-container>
    </div>
  </div>
</div>
