// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

//  BEM - Block Element Modifier
//  This is how our code is structured. Please follow this layout and format.
//  More Info: https://css-tricks.com/bem-101/
//
//  .steps {
//	    &__item {		
//		    &--first {}
//		    &--last {}
//		    &--active {}
//		    &--done {}
//	    }
//	    &__link {}
//  }

@import "../../../../../assets/css/abstracts/_mixins.scss";
@import "../../../../../assets/css/abstracts/_variables.scss";
@import "../../../../../assets/css/abstracts/_keyframes.scss";

:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  z-index: 100000;

  &.is-active {
    visibility: visible;

    .side-nav {

      &-bg {
        @include opacity(1);
        @include animation(fade-in .2s ease-in);
      }

      &__container {
        @include transform(translateX(0));
        @include animation(slide-in-left .2s ease-in);
      }
    }

  }

  .side-nav {
    &__container {
      @include box-shadow(4px 0 10px 0 rgba(0, 0, 0, .4));
      @include transform(translateX(-100%));
      min-width: 250px;
      max-width: calc(100vw - 50px);
      position: fixed;
      background-color: #fff;
      flex-direction: column;
      height: 100%;

      &-header {
        @include font-size(18px);
        font-family: 'AL', sans-serif;
        background-color: $green;

        a {
          letter-spacing: .25px;
          padding: 12px 20px;
          align-items: center;
          display: flex;
          color: $white;
          justify-content: space-between;
        }
      }

      &__content {
        position: relative;
        overflow-x: hidden;
        height: 100%;
        flex-shrink: 10;

        &__section {
          display: flex;
          padding-top: 7px;
          padding-bottom: 30px;
          margin: 0;
          position: absolute;
          right: 0;
          left: 0;
          top: 0;
          bottom: 15px;
          overflow-y: scroll;
          -webkit-overflow-scrolling: touch;
          will-change: transform;
          visibility: hidden;
          flex-direction: column;

          &-back {
            padding: 15px 20px;
            display: flex;
            border-bottom: 5px solid #d5dbdb;

            img {
              width: 15px;
              margin-right: 10px;
            }

            h2 {
              @include font-size(20px);
              margin: 0px;
            }
          }

          &-title {
            @include font-size(22px);
            font-family: 'AB', sans-serif;
            line-height: 24px;
            letter-spacing: .5px;
            text-transform: uppercase;
            color: #111;
            padding: 0 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            a {
              @include font-size(16px);
              color: #333;
              font-family: 'AL', sans-serif;
              text-decoration: underline;
              text-transform: none;
            }
          }

          &-visible {
            visibility: visible;
          }

          &-right {
            @include transform(translateX(100%));
          }

          section {
            width: 100%;

            ::ng-deep {
              ul {
                li {
                  padding-bottom: 2px;

                  a {
                    color: #444;
                    @include font-size(20px);
                    font-family: 'AL', sans-serif;
                    padding: 15px 20px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                  }
                }
              }
            }
          }
        }
      }
    }

    &-bg {
      @include opacity(0);
      background-color: rgba(0, 0, 0, .8);
      position: fixed;
      height: 100%;
      width: 100%;
      -webkit-tap-highlight-color: transparent;
    }

    .hamburger {
      position: absolute;
      left: 275px;
      top: 20px;
      z-index: 1;

      .hamburger-inner,
      .hamburger-inner::before,
      .hamburger-inner::after {
        background-color: #fff;
      }
    }
  }
}
