// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

//  BEM - Block Element Modifier
//  This is how our code is structured. Please follow this layout and format.
//  More Info: https://css-tricks.com/bem-101/
//
//  .steps {
//	    &__item {		
//		    &--first {}
//		    &--last {}
//		    &--active {}
//		    &--done {}
//	    }
//	    &__link {}
//  }

@import "../../../../../assets/css/abstracts/_mixins.scss";
@import "../../../../../assets/css/abstracts/_variables.scss";

ol {
  li {
    margin-bottom: 10px;

    a {
      @include font-size(15px);
      color: #333;

      &:hover {
        color: $green;
      }
    }

    input[type="checkbox"] {
      @include opacity(0);
      position: absolute;
      pointer-events: none;

      &+label:after {
        content: none;
      }

      &:checked {
        &+label {
          &:after {
            content: "";
          }

          &:before {
            border-color: $green;
            background: $green;
          }
        }
      }

      &:not(:checked) {
        &+label {
          &.disabled {
            &:before {
              @include opacity(.4);
            }
          }
        }
      }
    }

    label {
      @include font-size(14px);
      font-weight: normal;
      cursor: pointer;
      position: relative;
      display: inline-block;
      padding: 0 0 0 24px;
      color: #1d252c;

      &.disabled {
        cursor: default;
      }

      &:before,
      &:after {
        position: absolute;
        content: "";
        display: inline-block;
      }

      &:before {
        @include border-radius(2px);
        height: 15px;
        width: 15px;
        border: 1px solid #9d9fa2;
        left: 0px;
        top: 2px;
      }

      &:after {
        @include rotate(45);
        top: 0;
        left: 6px;
        width: 7px;
        height: 12px;
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        border-right: 1px solid $white;
        border-bottom: 1px solid $white;
      }

      &:not(.disabled):hover {
        &:before {
          border-color: #333;
        }
      }

      // RATING
      .br-units {
        display: inline-flex;
      }

      .br-text {
        display: inline-flex;
        margin-left: 5px;
      }
    }
  }

  .list {
    &-more {
      margin-top: 25px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 25px;

      span {
        @include font-size(16px);
        text-decoration: underline;

        @media screen and (max-width: $screen-xs) {
          @include font-size(18px);
        }
      }

      img {
        width: 10px;

        @media screen and (max-width: $screen-xs) {
          width: 15px;
        }
      }
    }
  }
}

.slider {
  &-cancel,
  &-apply {
    @include font-size(14px);
    background: transparent;
    border: none;
    margin-top: 5px;
    padding: 0px;
    color: #333;

    &.disabled {
      &:hover {
        text-decoration: none;
        color: #333;
      }
    }

    &:hover {
      text-decoration: underline;
      color: $green;
    }
  }

  &-apply {
    float: right;
  }
}
