// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

//  BEM - Block Element Modifier
//  This is how our code is structured. Please follow this layout and format.
//  More Info: https://css-tricks.com/bem-101/
//
//  .steps {
//	    &__item {		
//		    &--first {}
//		    &--last {}
//		    &--active {}
//		    &--done {}
//	    }
//	    &__link {}
//  }

@import "../../../../../../../assets/css/abstracts/_mixins.scss";
@import "../../../../../../../assets/css/abstracts/_variables.scss";

.compare {
  &__module {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 2;

    &__content {
      @include border-radius(5px);
      @include box-shadow(0 1px 5px 0 rgba(57, 73, 76, 0.35));
      background: $white;
      overflow: hidden;

      &__item {
        float: left;
        height: 70px;
        padding: 10px 0 10px 10px;

        &-img {
          width: 50px;
          display: inline-block;
        }

        &__content {
          display: none;
          position: relative;
          margin: 0 10px;
          top: -5px;

          &-title {
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            height: 40px;
            width: 200px;
            padding-right: 10px;
          }

          &-close {
            cursor: pointer;
            width: 12px;
            height: 12px;
            position: absolute;
            right: 0px;
            top: 0px;
          }
        }

        &:hover {
          .compare__module__content__item__content {

            display: inline-block;
          }
        }

        &:only-child {
          padding-right: 10px;
        }
      }

      &__btns {
        float: right;
        margin-left: 10px;

        &-btn {
          @include border-radius(0px);
          @include box-shadow(none);
          cursor: pointer;
          padding: 10px;
          display: block;
          text-align: center;
          width: 30px;
          height: 35px;
          line-height: 25px;
        }
      }
    }
  }

  &__page {
    margin: 60px 0 0;
    min-height: 600px;

    &-title {
      @include font-size(40px);
      letter-spacing: 1px;
      font-family: 'B', sans-serif;
      margin: 0 0 40px 0;
    }

    &__container {
      display: flex;

      &__no-items {
        display: block;
        width: 100%;

        &__content {
          margin: 0 0 100px;
          height: calc(50vh - 40px);
          display: flex;
          align-items: center;
          justify-content: center;

          &__text {
            text-align: center;

            &-title {
              @include font-size(24px);
              font-weight: 500;
            }

            &-desc {
              margin-bottom: 40px;
            }

            &-btn {
              @include font-size(15px);
              font-family: 'AL', serif;
              width: fit-content;
              margin: 0px auto;
              line-height: 35px;
              font-weight: 400;
              text-transform: uppercase;
              letter-spacing: 1px;
              display: table;
            }
          }

        }
      }

      &__sidebar {
        width: 15%;
        border-right: 1px solid #eee;

        &__header {
          padding-top: 30px;

          &-title {
            @include font-size(80px);
            line-height: 1;
            margin: 0;
            text-align: center;
          }

          &-desc {
            text-align: center;
            width: 50%;
            color: #777;
            margin: 10px auto 0;
          }

          &__nav {
            margin-top: 100px;

            &-grp {
              @include border-radius(40px);
              border: 1px solid #ddd;
              width: fit-content;
              margin: 0px auto;
              display: table;
              overflow: hidden;

              i {
                padding: 6px 0;
                width: 30px;
                text-align: center;
                float: left;
                color: #aaa;

                &:first-child {
                  border-right: 1px solid #ddd;
                }

                &.active {
                  cursor: pointer;
                  color: #888;
                  background: #fafafa;

                  &:hover {
                    color: #555;
                    background: #eee;
                  }
                }
              }
            }

          }

        }

      }

      &__content {
        width: 85%;
        display: flex;

        &__item {
          border-right: 1px solid #eee;
          position: relative;
          padding: 0 2% 40px;
          width: 20%;

          &-close {
            width: 13px;
            height: 13px;
            cursor: pointer;
            position: absolute;
            right: 20px;
            top: 0px;
          }

          &__header {
            padding-top: 20px;
            text-align: center;

            &-cat {
              @include font-size(15px);
              text-transform: uppercase;
              color: #aaa;
              font-family: 'AL', serif;
              letter-spacing: 1px;
              margin: 15px 0 0;
            }

            &-title {
              @include font-size(20px);
              font-family: 'B', sans-serif;
              letter-spacing: 1px;
              margin: 5px 0 3px;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
            }

            &-price {
              @include font-size(18px);
              font-family: 'AB', serif;
              letter-spacing: .5px;
              margin: 0 0 10px 0;
              color: $green;
            }

            &-img {
              width: 50%;
              text-align: center;
              margin: 20px 0;
            }

          }

          &__items {
            padding-top: 20px;
            border-top: 1px solid #fafafa;
          }

          &-btn {
            @include border-radius(20px);
            @include font-size(14px);
            margin-top: 40px;
            letter-spacing: .5px;
            font-family: 'AM', serif;
            font-weight: 400;
            text-transform: uppercase;
            width: auto;
            line-height: 35px;
            margin: 60px auto 0;
            display: table;
          }
        }
      }
    }
  }
}
