<div class="solutions">
  <div class="container">
    <div class="solutions__section">
      <div class="solutions__section__container solutions__section__container-main solutions-center">
        <div class="solutions__section__container__header">
          <h1 class="solutions__section__container__header-title solutions__section__container__header-title-larger">Never
            be reliant on one solution. Focus on the meal, not vendors.</h1>
          <p class="solutions__section__container__header-desc">Have more control and options focused on just the
            produce. The way it should be.</p>
          <form-LearnMore tag="cook" class="solutions__section__container__header__form"></form-LearnMore>
        </div>
        <div class="solution__section__container__illustration">
        </div>
      </div>
    </div>
  </div>
  <div class="solutions__section">
    <div class="solutions__section-headline">
      Grceri is a online grocery database that allows you track your favorite food products without the hassle. Have
      more flexibility with buying decisions. Less time negotating vendor contracts or local markets, menus based on 
      seasonal trends and availability. Everything streamlined more so you can see anyone that is selling what 
      you're looking for.
    </div>
  </div>

  <div class="solutions__section">
    <div class="container">
      <div class="solutions__section__container solutions__section__container-two-reverse solutions-center">
        <div class="solutions__section__container__header">
          <h2 class="solutions__section__container__header-title solutions__section__container__header-title-reg">Find
            every vendor selling the produce you need</h2>
          <p>We look for every online vendor selling this produce for you, make better decisions, and always be in
            stock no matter the season.</p>
        </div>
        <div class="solutions__section__container__illustration"></div>
      </div>
    </div>
  </div>

  <div class="solutions__section">
    <div class="container">
      <div class="solutions__section__container solutions__section__container-two solutions-center">
        <div class="solutions__section__container__illustration"></div>
        <div class="solutions__section__container__header">
          <h2 class="solutions__section__container__header-title solutions__section__container__header-title-reg">Local
            resources are more segmented</h2>
          <p>Overtime more options will be available online while transitioning, be first to convienently find the
            right produce, without vendor hassle.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="solutions__section">
    <div class="container">
      <div class="solutions__section__container__center">
        <div class="solutions__section__container__center__header">
          <h2 class="solutions__section__container__center__header-title">Time focused on creating great meals.</h2>
          <p>In Grceri, we put multiple buying decisions to help streamline your choices. Focusing on the main
            objective of the business, cooking.</p>
        </div>
        <div class="solutions__section__container solutions__section__container-two">
          <div class="solutions__section__container__illustration"></div>
          <div class="solutions__section__container__list">
            <ul>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="solutions__section">
    <div class="container">
      <div class="solutions__section__wrap-small text-center">
        <h2 class="solutions__section__wrap-small-title">Spend less time shopping and looking.</h2>
        <p>By integrating this service you will save time and money over time.</p>
      </div>
      <div class="solutions__section__wrap-small__container">
        <div class="solutions__section__wrap-small__container__columns">
          <div class="solutions__section__wrap-small__container__columns__column">
            <div class="solutions__section__wrap-small__container__columns__column-number">31%</div>
            <div class="solutions__section__wrap-small__container__columns__column-desc">Average reduction in online
              shopping</div>
          </div>
          <div class="solutions__section__wrap-small__container__columns__column">
            <div class="solutions__section__wrap-small__container__columns__column-number">30%</div>
            <div class="solutions__section__wrap-small__container__columns__column-desc">Improvement in shopping
              decisions</div>
          </div>
          <div class="solutions__section__wrap-small__container__columns__column">
            <div class="solutions__section__wrap-small__container__columns__column-number">24%</div>
            <div class="solutions__section__wrap-small__container__columns__column-desc">Average saved shopping online.</div>
          </div>
        </div>
      </div>
      <div class="solutions__content">
        <p>These results were based on a survey of 10,000 people using this service.</p>
      </div>
    </div>
  </div>

</div>