@import "../../../../assets/css/abstracts/_mixins.scss";
@import "../../../../assets/css/abstracts/_variables.scss";

:host {
  position: relative;
  display: block;

  .slider-wrapper {
    overflow: hidden;

    &__inner {
      @include transition(margin 400ms ease);

      &__item {
        display: inline-block;
        padding: 0 10px;
      }
    }

    &__arrows {
      @include transform(translateY(-50%));
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      margin-top: -16px;
      height: 38px;

      i {
        @include font-size(20px);
        margin: 0;
        cursor: pointer;
        padding: 9px 15px;
        background: #eee;
        border-radius: 20px;
        height: 38px;
        width: 38px;
        text-align: center;
        display: none;

        &:hover {
          background: #ddd;
        }

        &.active {
          display: block;
        }
      }


      &-left {
        position: absolute;
        left: 0px;
      }

      &-right {
        position: absolute;
        right: 0px;
      }
    }

    &__pag {
      padding-top: 24px;
      padding-bottom: 16px;
      text-align: center;

      &-item {
        display: inline-block;
        margin: 0 2px;
        vertical-align: top;
        padding: 6px;

        i {
          @include border-radius(100%);
          cursor: pointer;
          background: #9d9fa2;
          width: 6px;
          height: 6px;
          display: block;

          &.active {
            cursor: inherit;
            background: #333;
          }
        }
      }
    }
  }
}
