<section class="app-viewer">
  <div class="app-viewer__container container">
    <div class="app-viewer__container__content">
      <div class="app-viewer-logo">
        <img class="icon" src="assets/svg/cart.svg" alt="Grceri" />
        <img class="text hidden-sm hidden-xs" src="assets/svg/logo.svg" alt="Grceri" />
      </div>
      <h1 class="app-viewer__container__content-title">Search every food product sold online.</h1>
      <search-input [search]="searchInputText" (inputValue)="onNewInput($event)"></search-input>
    </div>
  </div>
</section>

<div *ngIf="IS.deferredPrompt" class="container visible-sm visible-xs">
  <div class="get__app home">
    <div class="get__app-text">
      Get the best Grceri Experience
    </div>
    <a (click)="IS.clickPrompt('Home')" class="btn btn-primary">Get the app</a>
  </div>
</div>

<div class="categories">
  <div class="container">
    <div class="categories__header">
      <h2>Explore Categories</h2>
      <a class="/groceries">See All <i class="fa fa-angle-right"></i></a>
    </div>
    <ul *ngIf="category" class="categories__list">
      <ng-container *ngFor="let i of category; let x = index">
        <li class="categories__list__item">
          <a (click)="gEvent(i.name)" class="categories__list__item__link" [routerLink]="['/groceries/', url(i)]">
            <img alt="cat image" class="categories__list__item__link-img" [defaultImage]="load"
              [lazyLoad]="i.categoryImage" [useSrcset]="true" />
            <h4 class="categories__list__item__link-title">{{i.name}}</h4>
          </a>
        </li>
      </ng-container>
      <li class="categories__list__item">
        <a routerLink="/groceries" class="categories__list__item__link">
          <img alt="cat image" class="categories__list__item__link-img" src="assets/svg/dots.svg" />
          <h4 class="categories__list__item__link-title">View More</h4>
        </a>
      </li>
    </ul>
  </div>
</div>

<section class="watchlists">
  <section class="watchlists__sub-header">
    <div class="container">
      <ul class="watchlists__sub-header__list">
        <li class="watchlists__sub-header__list__item">
          <h3 class="watchlists__sub-header__list__item-title">Create watchlists for products.</h3>
          <p class="watchlists__sub-header__list__item-desc">Automated shopping experience for returning
            customers. Shop for the same things, always get the best price. Vendors don't matter anymore.</p>
        </li>
        <li class="watchlists__sub-header__list__item">
          <div class="watchlists__sub-header__list__item__case">
            <h4 class="watchlists__sub-header__list__item__case-title">Prices Changes</h4>
            <p class="watchlists__sub-header__list__item__case-desc">Follow products when their prices changes for best
              deals</p>
          </div>
        </li>
      </ul>
    </div>
    <!-- <section class="watchlists__sub-header__recommendations" *ngIf="login()">
      <div class="container">
        <h4 class="watchlists__sub-header__recommendations-title">Recommended Brands Picked for you</h4>
        <slider showC="true" multiple="true" count="7">
          <ng-container *ngFor="let i of items;">
            <ng-container *item>
              <item [cat]="i.Category" [upc]="iupc" [rating]="i.Rating" [ratingC]="i.Rating_count" [name]="i.title"
                [images]="i.images" [Hprice]="i.Highest_recorded_price" [Lprice]="i.Lowest_recorded_price">
              </item>
            </ng-container>
          </ng-container>
        </slider>
      </div>
    </section> -->
  </section>
</section>

<section class="category">
  <div class="container">
    <div class="category__content">
      <h3 class="category__content-title">Build grocery lists for any occasion.</h3>
      <p class="category__content-desc">Organize your shopping habits, get updated pricing, no matter the vendor.</p>
      <ul class="category__content__lists">
        <li class="category__content__lists__list">
          <strong>Multiple Vendors</strong>
          <p>We take the hassle out of price comparison for different vendors.</p>
        </li>
        <li class="category__content__lists__list">
          <strong>Best Deals</strong>
          <p>We look for the best prices and put it in one place.</p>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- <section class="popular">
  <div class="container">
    <h4 class="popular-title">Trending on Grceri.com</h4>`
    <slider showC="true" multiple="true" count="7">
      <ng-container *ngFor="let i of items;">
        <ng-container *sliderItem>
          <item 
             
            [cat]="i.Category" 
            [upc]="iupc" 
            [rating]="i.Rating" 
            [ratingC]="i.Rating_count" 
            [name]="i.title" 
            [images]="i.images" 
            [Hprice]="i.Highest_recorded_price"
            [Lprice]="i.Lowest_recorded_price">
          </item>
        </ng-container>
      </ng-container>
    </slider>
  </div>
</section> -->

<!-- S - DATA -->
<ngx-json-ld [json]="schema"></ngx-json-ld>


<div *ngIf="env.mobile" class="search-barcode visible-xs" (click)="BS.openScanner()">
  <img alt="barcode" src="assets/svg/search/barcode.svg" />
</div>
