// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

//  BEM - Block Element Modifier
//  This is how our code is structured. Please follow this layout and format.
//  More Info: https://css-tricks.com/bem-101/
//
//  .steps {
//	    &__item {		
//		    &--first {}
//		    &--last {}
//		    &--active {}
//		    &--done {}
//	    }
//	    &__link {}
//  }

@import "../../../assets/css/abstracts/_mixins.scss";
@import "../../../assets/css/abstracts/_variables.scss";

:host {
  min-height: 800px;
  display: block;

  .header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    position: relative;

    &__nav {
      display: flex;
      justify-content: left;
      flex: 1;

      &-item {
        @include font-size(16px);
        display: inline-block;
        padding: 20px 40px 20px 0;
        line-height: 1.1;

        a {
          color: #999;

          &:hover {
            color: #333;
          }
        }

        &.active {
          a {
            color: #333;
          }
        }
      }

      &-search {
        width: 216px;
        text-align: right;
        margin-bottom: 0;
        display: block;

        span {
          position: relative;
          display: inline-block;

          &:before {
            background-color: #444;
            mask-image: url('/assets/svg/search.svg');
            content: '';
            position: absolute;
            left: 0px;
            top: 50%;
            transform: translateY(-50%);
            width: 14px;
            height: 14px;
          }

          input {
            @include font-size(15px);
            transition: all .42s cubic-bezier(.165, .84, .44, 1);
            border: none;
            width: 69px;
            padding: .5rem 0 .5rem 25px;
            outline: 0;
            line-height: 1.2;
            margin: 0px;
            background: transparent;
          }
        }

        &.is-focused {
          span {
            input {
              width: 216px;
            }
          }
        }
      }
    }

    &:after {
      display: block;
      position: absolute;
      left: 0;
      width: 100%;
      top: 0;
      background: #ebebeb;
      height: 1px;
      content: "";
    }
  }

  .blog {
    &__section {
      margin: 0 auto;
      padding-top: 60px;
      padding-bottom: 60px;

      &-title {
        @include font-size(26px);
        font-family: 'B', sans-serif;
        line-height: 1.2;
        margin-bottom: 44px;

        a {
          color: #323648;

          i {
            font-size: 70%;
            margin-left: 5px;
          }
        }

        &-category {
          @include font-size(32px);
          margin-top: 0px;
          font-family: 'AM', serif;
          line-height: 1.2;
          color: #333;

          span {
            font-family: 'AL', serif;
            color: #777;
            position: relative;
            top: 1px;
          }
        }
      }

      &__container {
        display: grid;
        grid-template-columns: 25%;
        justify-content: space-between;

        &__main {
          max-width: none;
          margin-bottom: 20px;

          &__section {
            order: 1;
            margin-bottom: 0;
            align-self: center;

            &-title {
              @include font-size(26px);
              font-family: 'B', sans-serif;
              font-weight: 500;
              line-height: 1.3;
              margin: 0 0 10px;

              a {
                color: #323648;
              }
            }

            p {
              @include font-size(17px);
              font-family: 'AL', serif;
              line-height: 1.4;
              color: #777;
              margin: 0px;
            }

            &-img {
              margin: 0 0 20px 0;
              order: 1;

              img {
                width: 100%;
              }
            }
          }
        }
      }

      &__search {

        &-search {
          max-width: 42.683rem;
          margin-bottom: 2.7rem;
          width: 100%;
          position: relative;

          &:before {
            background-color: #555;
            mask-image: url('/assets/svg/search.svg');
            content: '';
            position: absolute;
            left: 18px;
            top: 50%;
            transform: translateY(-50%);
            width: 16px;
            height: 16px;
          }

          input {
            @include border-radius(6px);
            @include font-size(18px);
            line-height: 1.3;
            background: #f5f5f5;
            border: none;
            outline: 0;
            width: 100%;
            max-width: inherit;
            padding: 1rem 2rem;
            padding-left: 3rem;
            margin: 0px;
          }
        }

        &__content {
          min-height: 500px;
          display: grid;
          grid-template-columns: 3fr 1fr;
          grid-gap: 5rem;
          gap: 5rem;
          color: #5b5e6d;

          &__lists {
            @include font-size(17px);
            line-height: 1.5;

            &-title {
              @include font-size(26px);
              font-family: 'B', sans-serif;
              letter-spacing: .5px;
              margin: 0 0 2rem;
              color: #323648;
            }

            &__list {
              position: relative;
              display: flex;
              align-items: center;
              border-bottom: 1px solid #d4d4d4;
              padding: 1rem 0;
              min-height: 130px;
              flex: 1;
              width: 100%;

              section {
                flex: 1 1 0;
                height: 134px;

                h3 {
                  @include font-size(22px);
                  font-family: 'AB', sans-serif;
                  line-height: 1.3;
                  letter-spacing: .5px;
                  margin: 0 0 .58823529rem;

                  a {
                    color: #323648;
                  }
                }

                p {
                  font-family: 'AL', sans-serif;
                  letter-spacing: .5px;
                  font-weight: 400;
                  color: #777;
                  max-width: 700px;
                  margin: 0px;
                }
              }

              figure {
                margin: 0 1em 0 0;

                img {
                  width: 128px;
                }
              }
            }

            p {
              margin: 0 0 1rem;
            }
          }
        }

        &__sidebar {
          &__tags {
            margin-top: 6px;
            margin-bottom: 3rem;

            &-title {
              @include font-size(20px);
              font-family: 'B', sans-serif;
              margin: 0 0 1.5rem;
              letter-spacing: 1px;
              color: #323648;
            }

            &__container {
              &-list {
                background-color: #f9f9f9;
                border: 1px solid #d4d4d4;
                border-radius: 3px;
                color: #d72b3f;
                padding: 3px 5px;
                font-size: 12px;
                display: inline-block;
                margin-right: 10px;
                margin-bottom: 10px;
              }
            }
          }
        }
      }
    }
  }
}

blog-single {
  main {
    max-width: 65.75rem;
    display: block;
    margin: 0px auto;

    .blog {
      &__section {
        margin: 6rem 0 8rem;
        padding: 0px;

        &__single {
          display: grid;
          grid-column-gap: 12%;
          grid-template-columns: repeat(2, 1fr);
          max-width: none;

          &__section {
            margin-bottom: 0;
            align-self: center;

            &-title {
              @include font-size(60px);
              font-family: 'B', sans-serif;
              letter-spacing: .5px;
              line-height: 1.1;
              font-weight: 400;
              margin: 0 0 15px;
              color: #323648;
            }

            p {
              @include font-size(20px);
              font-family: 'AL', serif;
              font-weight: 400;
              line-height: 1.3;
              letter-spacing: .5px;
            }
          }

          figure {
            margin: 0px;

            img {
              width: 100%;
            }
          }
        }

        &__meta {
          margin: 3.5rem 0;

          &__content {
            display: flex;
            justify-content: space-between;
            padding-bottom: .8rem;
            border-bottom: 2px solid #e8e8e8;

            &__by {
              @include font-size(18px);
              letter-spacing: .5px;
              font-family: 'AL', serif;
              flex-direction: row;
              display: flex;
              margin: 0;

              &-author {
                margin-right: 5px;
              }

            }

            &__share {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;

              a {
                margin-left: 20px;
              }
            }
          }
        }

        &__post {
          color: #323648;
          margin: 5rem 0;

          &__article {
            @include font-size(22px);
            font-family: 'AL', serif;
            letter-spacing: .15px;
            max-width: 45.5rem;
            margin: 0 auto;

            p {
              line-height: 1.9;
              margin-bottom: 3rem;
            }
          }
        }

        &__comments {
          margin: 5rem 0;
        }
      }
    }
  }
}


.sign__up {
  margin: 100px auto;
  max-width: 1100px;

  &-title {
    @include font-size(30px);
    font-family: 'B', sans-serif;
    letter-spacing: 1px;
    line-height: 1.2;
    margin: 0px;
  }

  &__form {
    display: table;
    width: 100%;

    form {
      margin-bottom: 10px;
      display: block;
      height: 47px;

      input {
        @include border-radius(2px 0 0 2px);
        @include font-size(17px);
        font-family: 'AL', serif;
        margin: 0px;
        width: 90%;
        float: left;
        border: 1px solid #ddd;
        border-right: none;
        letter-spacing: .5px;
        padding: 11px 15px;
      }

      button {
        @include border-radius(0 2px 2px 0);
        width: 10%;
        float: left;
        padding: 10px;
        background: $green;
        border-color: transparent;
        color: $white;
      }
    }
  }

  small {
    @include font-size(16px);
    letter-spacing: .25px;
    font-family: 'AL', serif;
    color: #5b5e6d;
    line-height: 1.1;
    display: block;

    a {
      color: $green;
      text-decoration: underline;
    }
  }
}
