// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

//  BEM - Block Element Modifier
//  This is how our code is structured. Please follow this layout and format.
//  More Info: https://css-tricks.com/bem-101/
//
//  .steps {
//	    &__item {		
//		    &--first {}
//		    &--last {}
//		    &--active {}
//		    &--done {}
//	    }
//	    &__link {}
//  }

@import "../../../../assets/css/abstracts/_mixins.scss";
@import "../../../../assets/css/abstracts/_variables.scss";

:host {
  display: flex;
  z-index: 1;
  background: $white;

  .register {
    position: relative;

    &-stripe {
      position: absolute;
      width: 100%;
      height: 400px;
      overflow: hidden;
      transform: skewY(-12deg);
      background: #f6f6f6;
    }

    &__content {

      &__header {
        margin: 40px 0 0;
        display: flex;
        justify-content: space-between;

        &-logo {
          float: left;
          width: 100px;
        }

        &-link {
          float: right;
          letter-spacing: 1px;
        }
      }

      &__form {
        padding: 5% 0;

        @media (min-width: $screen-lg) {
          padding: 7% 10% 2% 10%;
        }

        &-padding {
          @media (min-width: $screen-md) {
            padding-right: 10%;
          }
        }
        &-title {
          @include font-size(35px);
          font-family: 'B', sans-serif;
          letter-spacing: 1px;
          font-weight: 500;
          margin: 0 0 20px 0;
        }
  
        p {
          @include font-size(17px);
          font-family: 'AL', serif;
          color: #666;
          line-height: 25px;
          margin-bottom: 30px;
  
          a {
            text-decoration: underline;
          }
        }

        section {
          margin-bottom: 40px;

          h3 {
            margin: 0 0 20px;

            &:nth-of-type(2) {
              margin-top: 40px;
            }
          }

          .plan__container {
            @include border-radius(3px);
            border: 2px solid $green;

            &-section {
              text-align: center;
              width: 33.33%;
              display: inline-block;
              border-right: 2px solid $green;
    
              &:last-child {
                border-right: none;
              }

              input {
                display: none;
                
                + label {
                  font-family: 'AM', sans-serif;
                  font-weight: 400;
                  padding: 20px;
                  cursor: pointer;
                }
                    
                &:checked + label {
                  cursor: inherit;
                  color: #fff;
                  background: $green;
                }
              }
            }

            &:nth-of-type(2) {
              @include border-radius(20px);
              overflow: hidden;
              margin-top: 20px;

              .plan__container-section {
                width: 50%;

                label {
                  @include font-size(14px);
                  padding: 10px;
                }
              }
            }
          }

          .add__container {
            margin: 0px -1%;
            &-section {
              width: 31.33%;
              margin: 0 1%;
              display: inline-block;

              input {
                display: none;
                
                + label {
                  font-family: 'AM', sans-serif;
                  font-weight: 400;
                  padding: 15px;
                  border: 2px solid $green;
                  @include border-radius(3px);
                  text-align: center;
                  cursor: pointer;
                }
                    
                &:checked + label {
                  color: #fff;
                  background: $green;
                }
              }
            }
          }
        }

        .mobile {
          display: none;
          .buttons {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;

            button {
              display: flex;
              justify-content: space-between;
              padding: 15px 20px;
              line-height: initial;

              &.btn-primary {
                span {
                  font-family: 'AM', sans-serif;
                  font-weight: 400;
                }
              }

              &.btn-ternary {
                width: 50px;
                margin-right: 20px;
              }

              .back {
                display: block;
              }
            }
          }

          &.step0,
          &.step1,
          &.step2,
          &.step3 {
            display: block;
          }
        }

        .back {
          display: none;
        }
        
        .form-group {
          position: relative;
          display: table;
          width: 100%;

          label {
            @include font-size(16px);
            font-family: 'AM', serif;
            font-weight: 400;
          }

          .form-control {
            @include font-size(17px);
            min-height: 52px;
            line-height: 20px;
            margin: 0px;
            max-width: inherit;

            &.ng-invalid.ng-touched {
              border-color: $red;
            }

            &.ng-valid.ng-touched {
              border-color: $green;
            }

            &.StripeElement--focus {
              border-color: #66afe9;
              outline: 0;
              box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
            }
          }

          .card {
            padding: 15px 0 0;
          }

          .show {
            cursor: pointer;
            border: none;

            i {
              @include font-size(18px);
              margin-right: 5px;
            }
          }
        }

        &__password-requirements {
          margin: 0 0 40px 0;

          &-meta {
            @include opacity(1);
            @include font-size(14px);
            max-height: 200px;

            li {
              line-height: 24px;

              &.error {
                @include opacity(0);
              }

              &.active {
                @include opacity(.5);

                &:before {
                  background: $green;
                }

                &.error {
                  @include opacity(1);

                  &:before {
                    background: red;
                  }
                }
              }

              &:before {
                content: "";
                display: inline-block;
                width: 8px;
                height: 8px;
                margin-right: 10px;
                border-radius: 8px;
                background: #eee;
              }
            }
          }
        }
      }

      &__subscription {
        @include border-radius(3px);
        @include box-shadow(0 0 0 1px #e0e0e0);
        background: #fff;
        margin: 20px 0 0;

        @media (min-width: $screen-md) {
          margin-left: 10%;
        }

        padding: 20px;
        border: 1px solid #ddd;

        h2 {
          font-family: 'B', sans-serif;
          margin: 0 0 20px;
        }

        &__details {
          margin-top: 10px;

          &-blurb {
            display: flex;
            justify-content: space-between;
            margin: 0 0 10px;

            p {
              @include font-size(15px);
              padding-right: 2%;
              line-height: 20px;
              display: inline-block;
              margin: 0px;
            }
  
            i {
              @include font-size(15px);
              padding-left: 2%;
              cursor: pointer;
              float: right;
            }
          }

          &-accordion {
            margin-left: 10px;

            h4 {
              font-family: 'AL', sans-serif;
              strong {
                color: #333;
                font-family: 'AB', sans-serif;
                display: block;
                text-transform: capitalize;
              }
            }
          }

          &-small {
            @include font-size(14px);
            font-family: 'AM', sans-serif;
            font-weight: 500;
            position: relative;
            margin: 0px;
          }

          &-checkbox {
            display: inline-block;
            padding: 0px;
            margin-right: 4px;
            position: relative;
            top: 3px;
    
            input[type=checkbox] {
              display: none;
            }
    
            input[type=checkbox]+label {
              height: 15px;
              width: 15px;
              @include border-radius(3px);
              border: 2px solid #ccc;
              cursor: pointer;
    
              &:hover {
                border-color: #777;
              }
            }
    
            input[type=checkbox]:checked {
    
              +label {
                background: rgb(108, 219, 143) url('/assets/svg/check.svg');
                background-size: 9px 9px;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                border-color: $green;
                height: 15px;
                width: 15px;
    
                &:hover {
                  border-color: rgb(49, 190, 94);
                  background-color: rgb(73, 173, 105);
                }
              }
    
            }
          }
  
          h3 {
            margin: 0 0 10px;
            text-transform: capitalize;

            i {
              @include font-size(16px);
              color: $green;
              margin-right: 10px;
            }
  
            span {
              float: right;
            }
          }
  
          h4:not(.register__content__subscription__details-plan) {
            margin: 0 0 5px;
            color:#666;
            display: flex;
            justify-content: space-between;

            span {
              @include font-size(15px);
            }

            &:last-of-type {
              margin: 0px;
            }
          }
  
          ul {
            @include font-size(14px);
            font-family: 'AL', sans-serif;
            margin-bottom: 20px;
            letter-spacing: .5px;
            list-style: inherit;
            margin-left: 15px;
  
            li {
              color: #666;
              margin-bottom: 2px;
  
              &:last-child {
                margin: 0px;
              }
            }
          }
        }

        button {
          letter-spacing: 1px;
          margin-top: 20px;
          text-transform: uppercase;
        }
      }
    }
  }

  credit-card {
    .btn {
      text-transform: initial;
      letter-spacing: .5px;
    }
  }
}
