// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

//  BEM - Block Element Modifier
//  This is how our code is structured. Please follow this layout and format.
//  More Info: https://css-tricks.com/bem-101/
//
//  .steps {
//	    &__item {		
//		    &--first {}
//		    &--last {}
//		    &--active {}
//		    &--done {}
//	    }
//	    &__link {}
//  }

@import "../../../../assets/css/abstracts/_mixins.scss";
@import "../../../../assets/css/abstracts/_variables.scss";

:host {
  display: flex;
  z-index: 1;
  background: $white;

  form {
    padding: 20px;
    margin: 20px 0;

    h1 {
      @include font-size(28px);
      font-family: 'AB', sans-serif;
      font-weight: 400;
    }

    @media (max-width: $screen-sm) {
      padding: 0px;
    }
  }

  .module {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: $screen-lg) {
      width: 100%;
      height: 100vh;
    }

    @media (max-width: $screen-sm) {
      padding-top: 75px;
      height: auto;
    }

    &-logo {
      position: absolute;
      top: 30px;
      left: 30px;

      img {
        width: 40px;
      }
    }

    &__content {
      margin: 0px auto;
      padding: 50px 10px;

      @media screen and (max-width: $screen-xs) {
        padding: 0px;
      }

      form {
        .btn {
          @include font-size(13px);
          font-family: 'AM', sans-serif;
          font-weight: 400;
          display: flex;
          justify-content: center;
          text-transform: uppercase;
          letter-spacing: .5px;

          @media screen and (max-width: $screen-sm) {
            position: fixed;
            bottom: 20px;
            margin-left: 20px;
            margin-right: 20px;
            left: 0;
            right: 0;
            width: -webkit-fill-available;
          }
        }

        p {
          @include font-size(17px);
          font-family: 'AL', sans-serif;
        }
      }

      &__social {
        margin-bottom: 25px;

        h4 {
          @include font-size(16px);
          margin-bottom: 30px;
          margin-top: 15px;
        }

        &-btn {
          padding: 15px 40px;
          display: inline-block;

          @media screen and (max-width: $screen-xs) {
            padding: 0px;
          }

          i {
            @include border-radius(50%);
            @include font-size(12px);
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 32px;
            border: 2px solid #f6f6f6;
            color: #48B56A;
          }
        }
      }

      &__header {
        margin-bottom: 25px;

        &-title {
          @include font-size(20px);
          line-height: 1.36;
          margin: 0 0 .5rem;
        }

        &-subtitle {
          @include font-size(16px);
          line-height: 24px;
          color: rgba(99, 114, 130, 0.9);
          margin: 0 0 .5rem;
          font-family: 'AL', sans-serif;
        }
      }

      &-btn {
        margin-top: 18px;
      }

      &-username {
        text-align: right;
        margin-top: 10px;
      }

      &__switch {
        @include font-size(16px);
        font-family: 'AM', serif;
        font-weight: 400;
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;

        &-label {
          display: inline-block;
          padding: 0px;
          margin-right: 12px;
          position: relative;
          width: 30px;
          height: 16px;
        }

        label {
          @include transition(.4s);
          @include border-radius(34px);
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;

          &:before {
            @include border-radius(50%);
            @include transition(.4s);
            position: absolute;
            content: "";
            height: 12px;
            width: 12px;
            left: 2px;
            bottom: 2px;
            background-color: white;
          }
        }

        input {
          @include opacity(0);
          width: 0;
          height: 0;

          &:checked+label {
            background-color: $green;

            &:before {
              @include transform(translateX(14px));
            }
          }

          &:focus+label {
            @include box-shadow(0 0 1px $green);
          }
        }
      }

      &__fields {

        &__form-group {
          position: relative;
          margin-bottom: 25px;

          label {
            letter-spacing: .5px;
            font-family: 'AM', serif;
            font-weight: 400;
          }

          button {
            font-family: 'AM', serif;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: .5px;
          }


          &-password {
            position: absolute;
            right: 0px;
            top: 10px;
          }

          &-padding-right {
            padding-right: 85px !important;
          }

          &-show {
            cursor: pointer;
            border: none;
            color: #333;

            i {
              @include font-size(18px);
              margin-right: 5px;
            }
          }

          input {
            @include font-size(17px);

            &.ng-invalid.ng-touched {
              border-color: $red;
            }

            &.ng-valid.ng-touched {
              border-color: $green;
            }
          }

        }

        &-email {
          margin-top: 0px;
        }
      }

      &-forgot {
        line-height: normal;
        width: fit-content;
      }

      &-desc {
        margin-top: 40px;
      }

      &-acct {
        margin-top: 20px;
        color: rgba(99, 114, 130, 0.9);
      }

      &-buttons {
        margin: 25px -15px 30px;
        display: flex;
        justify-content: space-between;
        vertical-align: middle;
      }
    }
  }

  .billboard {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f6f6f6;
    height: 100vh;

    &__slider {
      text-align: center;
      width: 100%;
      padding: 30px;
      max-width: 500px !important;
      margin-left: auto;
      margin-right: auto;
      display: block;

      &-title,
      &-desc {
        color: white;
      }

      &-title {
        @include font-size(22px);
        margin: 0 0 20px;
      }


    }
  }
}
