// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

//  BEM - Block Element Modifier
//  This is how our code is structured. Please follow this layout and format.
//  More Info: https://css-tricks.com/bem-101/
//
//  .steps {
//	    &__item {		
//		    &--first {}
//		    &--last {}
//		    &--active {}
//		    &--done {}
//	    }
//	    &__link {}
//  }

@import "../../../../../assets/css/abstracts/_variables.scss";
@import "../../../../../assets/css/abstracts/_mixins.scss";

:host {
  border-top: 1px solid #eeedf2;
  display: block;

  @media screen and (max-width: $screen-sm) {
    @include animation(slide-in-bottom ease-in .4s);
    border-top: none;
  }

  .header {
    &__mobile {
      @include animation(slide-in-top ease-in .6s);
      @include box-shadow(0 0 3px 0 rgba(57, 73, 76, 0.35));
      background: $white;
      position: fixed;
      width: 100%;
      top: 0px;
      z-index: 1;
      padding: 12px 20px;
      display: flex;
      justify-content: space-between;
  
      h1 {
        @include font-size(22px);
        margin: 0px;
      }
  
      a {
        display: flex;
      }
  
      &-dropdown {
        width: 15px;
        display: flex;
        align-items: center;
        position: relative;
  
        img {
          width: 100%;
          transform: rotate(90deg);
        }
        
        &-menu {
          @include border-radius(0px);
          @include box-shadow(0 0 3px 0 rgba(57, 73, 76, 0.35));
          border: none;
          right: 0px;
          top: 0px;
          left: inherit;
  
          li {
            @include font-size(18px);
  
            a {
              padding: 5px 20px;

              &.active {
                background: #eee;
              }
            }
          }
        }
      }
    }
  }

  .history {
    @media screen and (max-width: $screen-sm) {
      margin-top: 65px;
    }

    &-container {
      &__item {
        width: 20%;
        padding: 20px;
        display: inline-flex;
        margin-bottom: 40px;

        img {
          width: 100%;
        }

        @media screen and (max-width: $screen-md) {
          width: 25%;
        }

        @media screen and (max-width: $screen-sm) {
          width: 33%;
        }

        @media screen and (max-width: $screen-xs) {
          width: 50%;
        }
      }
    }

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h1 {
        display: block;
        margin: 48px 0;

        @media screen and (max-width: $screen-sm) {
          margin: 25px 0;
        }
      }
    }

    &__empty {
      height: 70vh;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;

      &-ball {
        i {
          @include border-radius(50%);
          @include font-size(40px);
          padding: 25px;
          background: #fafafa;
        }

        h3 {
          font-family: 'AL', sans-serif;
          font-weight: 400;
          margin: 20px 0 0;
        }
      }
    }
  }

}
