<div class="visible-xs">
  <div class="header__mobile">
    <h1>Your History</h1>
    <div class="header__mobile-dropdown" dropdown>
      <a dropdownToggle data-toggle="dropdown" aria-haspopup="true" aria- expanded="true">
        <img alt="dots" src="assets/svg/dots.svg" />
      </a>
      <ul *dropdownMenu class="header__mobile-dropdown-menu dropdown-menu" role="menu" aria-labelledby="menu1">
        <li role="presentation">
          <a role="menuitem" tabindex="-1" [class.active]="SS.activeSort === 'brand'"
            (click)="SS.sortIt('brand', 0, 5, 2)">
            Brand
          </a>
          <a role="menuitem" tabindex="-1" [class.active]="SS.activeSort === 'rating'"
            (click)="SS.sortIt('rating', 1, 5, 2)">
            Rating
          </a>
          <a role="menuitem" tabindex="-1" [class.active]="SS.activeSort === 'price'"
            (click)="SS.sortIt('price', 2, 5, 2)">
            Price
          </a>
          <a role="menuitem" tabindex="-1" [class.active]="SS.activeSort === 'title'"
            (click)="SS.sortIt('title', 3, 5, 2)">
            Title
          </a>
          <a role="menuitem" tabindex="-1" [class.active]="SS.activeSort === 'vendor'"
            (click)="SS.sortIt('vendor', 4, 5, 2)">
            Vendor
          </a>
          <a role="menuitem" tabindex="-1" [class.active]="SS.activeSort === 'lastViewed'"
            (click)="SS.sortIt('lastViewed', 5, 5, 2)">
            Viewed
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<section class="history">
  <div class="container">
    <div class="history__header hidden-xs">
      <h1 class="history__header-title">Your History</h1>
      <div class="dropdown-sort" dropdown>
        <a dropdownToggle data-toggle="dropdown" aria-haspopup="true" aria- expanded="true">
          Sort by Category <i class="fa fa-angle-down"></i>
        </a>
        <ul *dropdownMenu role="menu" aria-labelledby="menu1">
          <li role="presentation">
            <a role="menuitem" tabindex="-1" [class.active]="SS.activeSort === 'brand'"
              (click)="SS.sortIt('brand', 0, 5, 2)">
              Brand
            </a>
            <a role="menuitem" tabindex="-1" [class.active]="SS.activeSort === 'rating'"
              (click)="SS.sortIt('rating', 1, 5, 2)">
              Rating
            </a>
            <a role="menuitem" tabindex="-1" [class.active]="SS.activeSort === 'price'"
              (click)="SS.sortIt('price', 2, 5, 2)">
              Price
            </a>
            <a role="menuitem" tabindex="-1" [class.active]="SS.activeSort === 'title'"
              (click)="SS.sortIt('title', 3, 5, 2)">
              Title
            </a>
            <a role="menuitem" tabindex="-1" [class.active]="SS.activeSort === 'vendor'"
              (click)="SS.sortIt('vendor', 4, 5, 2)">
              Vendor
            </a>
            <a role="menuitem" tabindex="-1" [class.active]="SS.activeSort === 'lastViewed'"
              (click)="SS.sortIt('lastViewed', 5, 5, 2)">
              Viewed
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="history-container" *ngIf="SS.activeData[2] !== undefined; else skeleton">
      <ng-container *ngFor="let tile of SS.activeData[2]">
        <a [routerLink]="['/grocery/', url(tile.title), tile.productId]" class="history-container__item">
          <img [defaultImage]="load" [lazyLoad]="tile.productThumbnailUrl" />
        </a>
      </ng-container>
    </div>
    <ng-template #skeleton>
      <ng-container *ngIf="loading; else empty">
        <div class="row">
          <ng-container *ngFor="let i of nitems">
            <div class="col col-md-3 col-sm-4 col-xs-6">
              <div class="skeleton-box">
                <div class="skeleton-square"></div>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>
      <ng-template #empty>
        <div class="history__empty">
          <div class="history__empty-ball">
            <i class="fa fa-list-ol"></i>
            <h3>You haven't added a history yet.</h3>
          </div>
        </div>
      </ng-template>
    </ng-template>
  </div>
</section>
