// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

//  BEM - Block Element Modifier
//  This is how our code is structured. Please follow this layout and format.
//  More Info: https://css-tricks.com/bem-101/
//
//  .steps {
//	    &__item {		
//		    &--first {}
//		    &--last {}
//		    &--active {}
//		    &--done {}
//	    }
//	    &__link {}
//  }

@import "../../../../../assets/css/abstracts/_variables.scss";
@import "../../../../../assets/css/abstracts/_mixins.scss";

.dashboard {
  &__contents {
    &-header {
      background: $green;
      padding: 60px 20px;
      text-align: center;
      color:#fff;
      margin-bottom: 25px;

      &-title {
        @include font-size(36px);
      }

      &-subtitle {
        @include font-size(16px);
      }

      @media screen and (max-width: $screen-xs) {
        padding: 30px 20px;
        margin-bottom: 15px;

        &-title {
          @include font-size(28px);
        }
      }
    }

    &__section {
      @include box-shadow(0 0 2px 0 rgba(57, 73, 76, 0.1));
      margin-bottom: 25px;
      border: 1px solid #e7e7ea;

      &-title,
      a {
        @include font-size(16px);
        padding: 18px 24px;
        text-transform: uppercase;
        letter-spacing: .5px;
      }

      &-title {
        margin: 0px;
        color: #161338;
        border-bottom: 1px solid #e7e7ea;
      }

      a,
      a:active,
      a:visited {
        color: #777;
      }

      a {
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
          @include border-radius(3px);
          @include font-size(12px);
          background: $green;
          color: $white;
          text-align: center;
          letter-spacing: 1px;
          min-width: 20px;
          padding: 0 4px;
        }
      }

      @media screen and (max-width: $screen-xs) {
        @include box-shadow(none);
        border-left: none;
        border-right: none;
        margin: 0 -15px 15px;

        &-title {
          display: none;
        }
      }
    }
  }
}
