// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

//  BEM - Block Element Modifier
//  This is how our code is structured. Please follow this layout and format.
//  More Info: https://css-tricks.com/bem-101/
//
//  .steps {
//	    &__item {		
//		    &--first {}
//		    &--last {}
//		    &--active {}
//		    &--done {}
//	    }
//	    &__link {}
//  }

@import "../../../assets/css/abstracts/_mixins.scss";
@import "../../../assets/css/abstracts/_variables.scss";

:host {
  @media screen and (max-width: $screen-xs) {
    display: block;
    margin-top: 55px;
  }

  .grocery {
    &__categories {
      margin: 50px 0;

      @media screen and (max-width: $screen-xs) {
        margin: 25px 0;
      }

      &-title {
        margin: 0 0 20px 0;
        display: flex;
        justify-content: space-between;

        i {
          padding: 7px;
        }

        @media screen and (max-width: $screen-xs) {
          @include font-size(12px);
        }
      }

      &__header {
        position: relative;
        display: block;
        width: fit-content;

        &-title {
          font-family: 'B', sans-serif;
          color: #333;
          margin: 0;
          letter-spacing: .5px;

          &:hover {
            color: #555;
          }
        }
      }

      &__cat {
        display: inline-table;
        margin: 0 0 5px 0;
        width: 25%;

        @media (max-width: $screen-sm) {
          width: 33.33%;
        }

        @media (max-width: $screen-xs) {
          width: 50%;
        }

        &__header {
          display: block;
          width: fit-content;

          &-title {
            color: #666;
            margin: 0 0 10px;
            padding: 0 15px;
            font-family: 'AL', serif;
            font-weight: 400;
            letter-spacing: .5px;
          }

          &:hover {
            text-decoration: underline;
          }
        }

        &__dropdown {
          &__item {
            position: relative;
            width: fit-content;

            &__link {
              color: #666;
              margin: 0;
              padding: 0 15px;
              font-family: 'AL', serif;
              font-weight: 400;
              letter-spacing: .5px;
              display: block;

              &-title {
                padding: 0 0 10px 0;
                margin: 0;

                i {
                  @include font-size(12px);
                  margin-left: 5px;
                }
              }
            }

            >ul {
              margin-left: 15px;
              padding: 5px 0;
              position: absolute;
              display: none;
              min-width: 200px;
              background: #f0f0f0;
              z-index: 1;
              text-transform: capitalize;
              padding: 5px 0;

              li {
                display: block;
                margin: 0px;
                position: relative;

                a {
                  @include font-size(15px);
                  font-family: 'AM', sans-serif;
                  letter-spacing: .5px;
                  display: block;
                  padding: 5px 15px;
                  color: #333;
                  margin: 0px;
                  display: block;

                  &:hover {
                    background: #333;
                    color: $white;
                  }
                }
              }

              &:after {
                bottom: 100%;
                left: 40px;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-color: rgba(136, 183, 213, 0);
                border-bottom-color: #f0f0f0;
                border-width: 5px;
                margin-left: -5px;
              }
            }

            &:hover {

              ul {
                display: block;
              }
            }

            &.active {
              a {
                border-color: $white;
              }
            }
          }
        }
      }

      &__mobile {
        @include box-shadow(0 0 3px 0 rgba(57, 73, 76, 0.35));
        background: $white;
        position: fixed;
        width: 100%;
        top: 0px;
        z-index: 1;
        padding: 12px 20px;
        display: flex;
        justify-content: space-between;

        h1 {
          @include font-size(22px);
          margin: 0px;
        }
      }
    }
  }
}
