.cta {
  padding: 5% 0 10%;

  &-title {
    @include font-size(32px);
    font-family: 'B', sans-serif;
    color: $green;
    letter-spacing: 1px;
    margin: 0;

    @media (max-width: $screen-md) {
      margin-bottom: 5px;
    }

    @media (max-width: $screen-xs) {
      @include font-size(24px);
    }
  }

  &-subtitle {
    @include font-size(24px);
    letter-spacing: 1px;
    color: #555;
    margin: 0px;

    @media (max-width: $screen-sm) {
      margin-bottom: 20px;
    }

    @media (max-width: $screen-xs) {
      @include font-size(18px);
    }
  }

  &-btn.btn {
    @include font-size(14px);
    font-family: 'AB', sans-serif;
    text-transform: uppercase;
    margin-top: 12px;
    letter-spacing: 1px;
    float: right;
    font-weight: 500;
    width: auto;
    padding: 0 20px;

    @media (max-width: $screen-sm) {
      width: 48%;
    }

    @media (max-width: $screen-xs) {
      width: 100%;
    }

    &:last-of-type {
      font-family: 'AM', sans-serif;
      color: #333;
      margin-right: 20px;

      @media (max-width: $screen-md) {
        margin-right: 4%;
      }

      @media (max-width: $screen-xs) {
        margin: 12px 0 0 0;
      }

      &:hover {
        background: #eee;
      }
    }
  }

}
