.skeleton {
  &-bar,
  &-bar-20,
  &-bar-30,
  &-bar-40,
  &-bar-60,
  &-bar-thumbnail,
  &-bar-carousel,
  &-square {
    display: block;
    background: #fafafa;
  }

  &-bar {
    height: 20px;

    @media screen and (max-width: $screen-xs) {
      height: 10px;
    }

    &-thumbnail {
      width: 50px;
      display: inline-block;
      margin-left: 15px;
      height: 30px;
    }

    &-carousel {
      margin-top: 40px;
      height: 500px;
      width: 100%;

      @media screen and (max-width: $screen-lg) {
        height: 40vh;
      }

      @media screen and (max-width: $screen-md) {
        height: 30vh;
        width: 50%;
        margin: 20px auto 0;
      }
    }

    &-20 {
      height: 20px;
    }

    &-30 {
      height: 30px;
    }

    &-40 {
      height: 40px;
    }

    &-60 {
      height: 60px;
    }
  }

  &-square {
    margin: 24px;
    height: 150px;

    @media screen and (max-width: $screen-xs) {
      margin: 0px;
      height: 80px;
    }
  }

  &-box {
    padding: 16px 4px;
  }

  &-margin-bottom {
    margin-bottom: 10px;

    &-20 {
      margin-bottom: 20px;
    }

    &-30 {
      margin-bottom: 30px;
    }

    &-40 {
      margin-bottom: 40px;
    }

    &-60 {
      margin-bottom: 60px;
    }
  }

  &-margin-top {
    margin-top: 10px;

    &-20 {
      margin-top: 20px;
    }

    &-40 {
      margin-top: 40px;
    }
  }
}
