// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

//  BEM - Block Element Modifier
//  This is how our code is structured. Please follow this layout and format.
//  More Info: https://css-tricks.com/bem-101/
//
//  .steps {
//	    &__item {		
//		    &--first {}
//		    &--last {}
//		    &--active {}
//		    &--done {}
//	    }
//	    &__link {}
//  }

@import "../../../../../../assets/css/abstracts/_mixins.scss";
@import "../../../../../../assets/css/abstracts/_variables.scss";

:host {
  display: block;

  @media screen and (max-width: $screen-sm) {
    @include animation(slide-in-bottom ease-in .6s);
    margin-top: 50px;
  }

  @media screen and (min-width: $screen-md) {
    border-top: 1px solid #eeedf2;
  }

  .list {
    &__header {
      margin: 0 0 40px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      input {
        margin-right: auto;
        width: 50%;
      }

      &-title {
        @include font-size(40px);
        padding-right: 20px;
        font-family: 'B', sans-serif;
        margin: 0 auto 0 0;
      }


      &-dropdown {
        @include border-radius(100%);
        border: 1px solid #ddd;
        width: 30px;
        height: 30px;
        padding: 9px;
        background: #fafafa;
        position: relative;
        margin-left: 20px;

        a {
          vertical-align: middle;
          align-items: center;
          display: flex;

          img {
            @include transform(rotate(90deg));
            width: 100%;
          }
        }

        &-menu {
          @include border-radius(0);
          @include box-shadow(0 0 3px 0 rgba(57,73,76,.35));
          border: none;
          right: 0;
          top: 50px;
          left: inherit;

          li {
            @include font-size(16px);

            a {
              padding: 3px 20px;
              cursor: pointer;

              &.isDisabled {
                @include opacity(.5);
                pointer-events: none;
              }
            }
          }
        }
      }

      &-btns {
        margin-left: auto;
        display: flex;
        justify-content: space-between;
        margin-right: 20px;

        .btn-primary {
          margin-right: 20px;
        }

        .btn {
          @include font-size(14px);
          font-weight: 400;
          line-height: 30px;
          width: 80px;
        }
      }
    }

    &__meta {
      @include font-size(16px);
      color: #333;
      display: flex;
      justify-content: space-between;
      margin: 40px 0 20px;

      &-updated {
        color: #999;
      }
    }

    &__body {
      background: #fff;

      &-desc {
        margin-bottom: 20px;
      }

      &__items {
        border: 1px solid #eeedf2;
        border-top: none;
  
        &__text {
          &-title {
            @include font-size(20px);
            font-family: 'AB', sans-serif;
            display: block;
            line-height: 19px;
  
            @media screen and (max-width: $screen-xs) {
              @include font-size(16px);
              line-height: 18px;
            }
          }
  
          &-details {
            margin-top: 5px;
            color: #555;
            font-family: 'AL', sans-serif;
            font-weight: 400;
  
            span {
              color: $green;
            }
          }
        }

        &__completed {
          background: #fafafa;
          border: 1px solid #eeedf2;
          border-top: none;

          &-title {
            @include font-size(15px);
            background: #fff;
            color: #565656;
            font-family: 'AL', sans-serif;
            text-align: center;
            padding: 10px 0;
            cursor: pointer;

            &__text {
              font-family: 'AB', sans-serif;
              color: #888;
            }
          }

          li {
            padding: 20px;
            display: flex;
            border-top: 1px solid #ddd;

            label {
              position: relative;
              padding: 0 0 0 35px;
              cursor: pointer;
              color: inherit;
              font-weight: inherit;
              max-width: inherit;
            }

            a:active,
            a:visited {
              color: inherit;
            }
          }
        }
      }

      li.item {
        border-top: 1px solid #eeedf2;
        padding: 20px 0;
        display: flex;
        align-items: center;

        input {
          margin-left: 40px;
        }

        a {
          margin-left: 40px;

          &:active,
          &:visited {
            color: inherit;
          }
        }

        img {
          width: 90px;
          margin-left: auto;
          margin-right: 20px;

          @media screen and (max-width: $screen-xs) {
            width: 40px;
          }
        }
      }
    }

    &__empty {
      height: 70vh;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;

      &-ball {
        i {
          @include border-radius(50%);
          @include font-size(40px);
          padding: 25px;
          background: #fafafa;
        }

        h3 {
          font-family: 'AL', sans-serif;
          font-weight: 400;
          margin: 20px 0 0;
        }
      }
    }
  }

  .mobile {
    display: none;
    padding-top: 20px;
    margin-bottom: 60px;

    @media screen and (max-width: $screen-sm) {
      display: block;
    }

    &__header {
      @include animation(slide-in-top ease-in .4s);
      @include box-shadow(0 0 3px 0 rgba(57, 73, 76, 0.35));
      background: $white;
      position: fixed;
      width: 100%;
      top: 0px;
      left: 0px;
      z-index: 2;
      padding: 12px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 49px;

      input {
        width: 60%;
        border:none;
      }

      h1 {
        @include font-size(22px);
        font-family: 'B', sans-serif;
        margin: 0px;

        i {
          margin-right: 10px;
        }
      }

      a {
        display: flex;
      }

      &-dropdown {
        width: 15px;
        display: flex;
        align-items: center;
        position: relative;

        img {
          width: 100%;
          transform: rotate(90deg);
        }

        &-menu {
          @include border-radius(0px);
          @include box-shadow(0 0 3px 0 rgba(57, 73, 76, 0.35));
          border: none;
          right: 0px;
          top: 0px;
          left: inherit;

          li {
            @include font-size(18px);

            a {
              padding: 5px 20px;
              cursor: pointer;

              &.active {
                background: #eee;
              }

              &.isDisabled {
                @include opacity(.5);
                pointer-events: none;
              }
            }
          }
        }
      }

      &-btns {
        margin-left: auto;
        display: flex;
        justify-content: space-between;
        margin-right: 20px;

        .btn-primary {
          margin-right: 20px;
        }

        .btn {
          @include font-size(14px);
          font-weight: 400;
          line-height: 30px;
          width: 80px;
        }
      }
    }

    &__meta,
    &__meta-public {
      display: flex;
      justify-content: space-between;
      color: #333;

      &-updated {
        color: #999;
      }
    }

    &__meta {
      margin: 20px 0 40px;

      &-public {
        margin: 20px;
      }

      &-desc {
        margin-bottom: 20px;
      }
    }

    &__section {
      margin: 0 0 40px;

      &-title {
        @include font-size(19px);
        font-family: 'B', sans-serif;
        color: #444;
        margin: 0 0 20px;
        text-align: center;
      }

      ::ng-deep {
        .mobile__section__item {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;

          img {
            margin-bottom: 20px;
            width: 80%;
          }

          button {
            @include font-size(12px);
            padding: 5px 15px;
            width: inherit;
            text-transform: uppercase;
            font-family: AM, sans-serif;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: .5px;
          }
        }
      }
    }

    &__content {
      @include animation(slide-in-bottom ease-in .3s);
      @include box-shadow(0 0 6px 0 rgba(57, 73, 76, 0.15));
      @include border-radius(12px 12px 0 0);
      border-top: 1px solid #ddd;
      position: fixed;
      background: #fff;
      padding: 12px 0 0;
      left: 0;
      right: 0;
      height: 47px;
      z-index: 1;

      @media (max-width: $screen-sm) {
        bottom: 57px;
      }
  
      @media (max-width: $screen-xs) {
        bottom: 35px;
      }

      &-length {
        @include font-size(18px);
        padding: 0 20px;
      }

      &-container {
        background: #f7f7f7;
      }

      &:before {
        @include border-radius(5px);
        border-top: 1px solid #ccc;
        position: absolute;
        content: '';
        width: 30px;
        height: 4px;
        background: #eee;
        top: 5px;
        left: 50%;
        margin-left: -15px;
      }

      &-details {
        @include box-shadow(none);
        top: 35px;
        z-index: 1;
        height: inherit;
        overflow-y: scroll;
      }

      &-public {
        margin: 0 -15px;
      }

      &-actions {
        background: #fff;
        padding: 20px;
        display: flex;
        justify-content: space-between;

        a {
          @include border-radius(6px);
          background: #eee;
          padding: 5px;
          display: flex;
          flex-flow: column;
          align-items: center;
          width: 47%;

          img {
            @include opacity(.6);
            margin-bottom: 5px;
            width: 20px;
          }

          span {
            @include font-size(20px);
            font-family: 'AL', sans-serif;
            font-weight: 400;
            color: #777;
          }
        }
      }

      &__list {
        background: #fff;

        &__text {
          &-title {
            @include font-size(20px);
            font-family: 'AB', sans-serif;
            display: block;
            line-height: 19px;

            @media screen and (max-width: $screen-xs) {
              @include font-size(16px);
              line-height: 18px;
            }
          }

          &-details {
            margin-top: 5px;
            color: #555;
            font-family: 'AL', sans-serif;
            font-weight: 400;

            span {
              color: $green;
            }
          }
        }

        li.item {
          border-top: 1px solid #ddd;
          padding: 20px;
          display: flex;
          align-items: center;

          input {
            margin-right: 40px;
          }

          a {
            &:active,
            &:visited {
              color: inherit;
            }
          }

          img {
            width: 90px;
            margin-left: auto;

            @media screen and (max-width: $screen-xs) {
              width: 40px;
            }
          }
        }

        &-completed {
          border-top: 1px solid #eeedf2;

          &-title {
            @include font-size(15px);
            background: #fff;
            color: #565656;
            font-family: 'AL', sans-serif;
            text-align: center;
            padding: 10px 0;

            &__text {
              font-family: 'AB', sans-serif;
              color: #888;
            }
          }

          li {
            padding: 20px;
            display: flex;
            border-top: 1px solid #ddd;

            label {
              position: relative;
              padding: 0 0 0 35px;
              cursor: pointer;
              color: inherit;
              font-weight: inherit;
              max-width: inherit;
            }

            a:active,
            a:visited {
              color: inherit;
            }
          }
        }
      }
    }

    &_plus {
      @include animation(fade-in ease-in .6s);
      @include border-radius(100%);
      @include box-shadow(0 1px 5px 0 rgba(57, 73, 76, 0.35));
      width: 45px;
      height: 45px;
      position: fixed;
      right: 20px;
      padding: 10px;
      background: $green;
      cursor: pointer;
      z-index: 2;

      img {
        filter: invert(1);
        width: 100%;
      }

      @media (max-width: $screen-sm) {
        bottom: 80px;
      }
  
      @media (max-width: $screen-xs) {
        bottom: 55px;
      }
    }

    &__empty {
      height: 70vh;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #fff;

      &-ball {
        i {
          @include border-radius(50%);
          @include font-size(40px);
          padding: 25px;
          background: #fafafa;
        }

        h3 {
          font-family: 'AL', sans-serif;
          font-weight: 400;
          margin: 20px 0 0;
        }
      }
    }
  }
}
