<div class="breadcrumb-single hidden-xs hidden-sm">
  <div class="container">
    <div class="row">
      <div class="col col-md-10">
        <breadcrumb *ngIf="product" [cat]="product['category']" [subcat]="product['subCategory']"
          [productTitle]="product['title']"></breadcrumb>
      </div>
      <div class="col col-md-2">
        <product-social *ngIf="Sproduct.images && Sproduct.brand && Sproduct.title && Sproduct.category"
          [meta]="Sproduct">
        </product-social>
      </div>
    </div>
  </div>
</div>
<div itemtype="http://schema.org/Product" itemscope class="product">
  <div class="container">
    <ng-container *ngIf="!product">
      <div class="visible-xs">
        <div class="row">
          <div class="col col-xs-10">
            <div class="skeleton-bar-20 skeleton-margin-bottom"></div>
          </div>
        </div>
        <div class="row">
          <div class="col col-xs-10">
            <div class="skeleton-bar-20 skeleton-margin-bottom-20"></div>
          </div>
        </div>
        <div class="row">
          <div class="col col-xs-2">
            <div class="skeleton-bar-20"></div>
          </div>
          <div class="col col-xs-2">
            <div class="skeleton-bar-20"></div>
          </div>
          <div class="col col-xs-2">
            <div class="skeleton-bar-20"></div>
          </div>
          <div class="col col-xs-2">
            <div class="skeleton-bar-20"></div>
          </div>
        </div>
      </div>
    </ng-container>
    <div class="row">
      <div class="col col-md-8 col-sm-7">
        <div *ngIf="product" class="visible-xs product__details">
          <h1 class="product__details-title">{{product.title}}</h1>
          <div class="product__details-meta">
            <ul>
              <li class="product__details-meta-rating" itemprop="aggregateRating"
                itemtype="http://schema.org/AggregateRating" itemscope>
                <meta itemprop="ratingCount"
                  [content]="product.ratingCount !== null && product.ratingCount > 0 ? product.ratingCount : 1" />
                <meta itemprop="ratingValue"
                  [content]="product.rating !== null && product.rating > 0 ? product.rating : 0" />
                <meta itemprop="worstRating" content="0" />
                <meta itemprop="bestRating" content="5" />
                <ng-container *ngIf="product.rating">
                  <bar-rating [(rate)]="product.rating" [max]="5" readOnly="true" theme="fontawesome-o"></bar-rating>
                  {{product.rating}} ({{product.ratingCount}})
                </ng-container>
                <ng-container *ngIf="!product.rating">
                  <bar-rating [rate]="0" [max]="5" readOnly="true" theme="fontawesome-o"></bar-rating>
                  0
                </ng-container>
              </li>
              <li itemprop="brand" itemtype="http://schema.org/Thing" itemscope *ngIf="product.brand">
                <meta itemprop="name" [content]="product.brand" />
                <a (click)="routeCatagoryPageRouterLink(product.category, product.subCategory, product.brand)">
                  {{ product.brand }}
                </a>
              </li>
              <li class="product__details-meta-rating-notlink" *ngIf="product.upc">
                <meta itemprop="isbn" [content]="product.productId" />
                UPC # {{ product.upc }}
              </li>
              <li class="product__details-meta-rating-notlink" *ngIf="product.productId">
                Grceri # {{ product.productId }}
              </li>
            </ul>
          </div>
        </div>
        <product-carousel *ngIf="currentProductId" [productID]="currentProductId"
          (getCarouselImagesOutput)="getCarouselComponent($event)">
        </product-carousel>
      </div>
      <div class="col col-md-4 col-sm-5">
        <product-details *ngIf="currentProductId" [productID]="currentProductId" [productVendors]="Vproduct"
          [productImages]="Cproduct" (getProductDetailsOutput)="getProductDetailsComponent($event)">
        </product-details>
      </div>
    </div>

    <div class="product__section">
      <div class="row">
        <product-vendors *ngIf="currentProductId" [productID]="currentProductId"
          (getProductVendorsOutput)="getProductVendorsComponent($event)">
        </product-vendors>
      </div>
    </div>

    <!-- <hr class="product__divider" />

    <div class="product__section">
      <h4 class="product__section-title">Customers also viewed these products</h4>
      <slider showC="true" multiple="true" count="7">
        <ng-container *ngFor="let i of items;">
          <ng-container *sliderItem>
            <item [cat]="i.Category" [upc]="iupc" [rating]="i.Rating" [ratingC]="i.Rating_count" [name]="i.title"
              [images]="i.images" [Hprice]="i.Highest_recorded_price" [Lprice]="i.Lowest_recorded_price">
            </item>
          </ng-container>
        </ng-container>
      </slider>
    </div>

    <div class="product__advertisement"></div>

    <div class="product__section">
      <h4 class="product__section-title">Customers also added these products</h4>
      <slider showC="true" multiple="true" count="7">
        <ng-container *ngFor="let i of items;">
          <ng-container *sliderItem>
            <item [cat]="i.Category" [upc]="iupc" [rating]="i.Rating" [ratingC]="i.Rating_count" [name]="i.title"
              [images]="i.images" [Hprice]="i.Highest_recorded_price" [Lprice]="i.Lowest_recorded_price">
            </item>
          </ng-container>
        </ng-container>
      </slider>
    </div> -->

    <!-- <div class="product__section">
      <div class="row">
        <div class="col col-md-10">
          <section class="product__section">
            <product-overview
              *ngIf="currentProductId"
              [productID]="currentProductId"
              (getOverview)="getOverviewComponent($event)">
            </product-overview>
          </section>
          <section class="product__section">
            <product-nutrition
              *ngIf="currentProductId"
              [productID]="currentProductId">
            </product-nutrition>
          </section>
        </div>
        <div class="col col-md-2">
          <div class="advertisement-vertical">

          </div>
        </div>
      </div>
    </div> -->

    <!-- <hr class="product__divider" />

    <div class="product__advertisement"></div>

    <hr class="product__divider" /> -->

    <!-- <div class="product__section">
      <h4 class="product__section-title">Inspired by your browsing history</h4>
      <slider showC="true" multiple="true" count="7">
        <ng-container *ngFor="let i of items;">
          <ng-container *sliderItem>
            <item [cat]="i.Category" [upc]="iupc" [rating]="i.Rating" [ratingC]="i.Rating_count" [name]="i.title"
              [images]="i.images" [Hprice]="i.Highest_recorded_price" [Lprice]="i.Lowest_recorded_price">
            </item>
          </ng-container>
        </ng-container>
      </slider>
    </div> -->
  </div>
</div>

<product-feedback *ngIf="feedbackO" (open)="feedback($event, 'open')" (success)="feedback($event, 'success')"
  [id]="product"></product-feedback>

<!-- <product-compare></product-compare> -->
