// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

//  BEM - Block Element Modifier
//  This is how our code is structured. Please follow this layout and format.
//  More Info: https://css-tricks.com/bem-101/
//
//  .steps {
//	    &__item {		
//		    &--first {}
//		    &--last {}
//		    &--active {}
//		    &--done {}
//	    }
//	    &__link {}
//  }

@import "../../../../../assets/css/abstracts/_mixins.scss";
@import "../../../../../assets/css/abstracts/_variables.scss";

.product {
  margin: 0 0 20px 0;
  display: block;

  @media screen and (max-width: $screen-sm) {
    @include animation(slide-in-bottom .6s);  
  }

  &__divider {
    margin: 16px 0;
  }

  &__feedback {
    margin-top: 56px;
    padding-bottom: 10px;
    width: fit-content;

    i {
      margin-right: 5px;
    }

    &-cursor {
      cursor: pointer;
    }

    &:hover {
      color: #555;
    }
  }

  &__message {
    @include font-size(16px);
    position: fixed;
    z-index: 11;
    bottom: 0px;
    left: 20px;
    min-width: 400px;

    button {
      top: 8px;
    }
  }

  // MOBILE
  &__details {
    @include font-size(38px);
    line-height: 1.5;

    &-title {
      @include font-size(32px);
      font-family: 'B', serif;
      margin: 0 0 10px 0;
      font-weight: 400;
      letter-spacing: 2px;
      line-height: 1.3;
      word-break: break-word;

      @media (max-width: $screen-md) {
        @include font-size(24px);
      }
    }

    &-meta {
      @include font-size(16px);
      margin-top: 5px;

      &-rating {
        color: #000;
        margin-bottom: 4px;

        bar-rating {
          display: inline-block;
          margin-right: 4px;
        }
      }

      &-notlink {
        color: #888;
      }

      li {
        display: inline-block;
        margin-right: 10px;

        a {
          color: #000;
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }

        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }

  @media (max-width: $screen-md) {
    margin-top: 20px;
    margin-bottom: 80px;
    display: block;
  }
}

.breadcrumb-single {
  border-top: 1px solid #f3f3f3;
  padding: 20px 0;
  margin-bottom: 3%;
}
