<ng-container *ngIf="product; else productDetailsSkeleton">
  <ng-container *ngFor="let i of message">
    <alert class="product__message" *ngIf="i" [type]="i.type === 'membership-watchlist-error' ? 'danger' : i.type"
    (onClose)="changeDetector.detectChanges()" (onClosed)="_close(i)" [dismissOnTimeout]="8000" [dismissible]="true">
      {{ i.value }} <a *ngIf="i.listId !== 0; else alertmessage" [routerLink]="['/lists', i.listId]">{{i.linkTitle}}</a>
      <a *ngIf="i.type === 'membership-watchlist-error'" [routerLink]="['/user/settings/billing/subscription']">Upgrade Now</a>
    </alert>
  </ng-container>

  <meta itemprop="name" [content]="product.title" />
  <div class="hidden-xs">
    <h1 class="product__details-title">{{product.title}}</h1>
    <div class="product__details-meta">
      <ul>
        <li class="product__details-meta-rating" itemscope>
          <ng-container *ngIf="product.rating">
            <bar-rating [(rate)]="product.rating" [max]="5" readOnly="true" theme="fontawesome-o"></bar-rating>
            {{product.rating}} ({{product.ratingCount}})
          </ng-container>
          <ng-container *ngIf="!product.rating">
            <bar-rating [rate]="0" [max]="5" readOnly="true" theme="fontawesome-o"></bar-rating>
            0
          </ng-container>
        </li>
        <li itemprop="brand" itemtype="http://schema.org/Thing" itemscope *ngIf="product.brand">
          <meta itemprop="name" [content]="product.brand" />
          <a (click)="gEvent('Brand', 'link'); routeCatagoryPageRouterLink(product.category, product.subCategory, product.brand)">
            {{ product.brand }}
          </a>
        </li>
        <li class="product__details-meta-rating-notlink" *ngIf="product.upc">
          <meta itemprop="sku" [content]="product.productId" />
          UPC # {{ product.upc }}
        </li>
        <li class="product__details-meta-rating-notlink" *ngIf="product.productId">
          Grceri # {{ product.productId }}
        </li>
      </ul>
    </div>
  </div>
  <div itemprop="offers" itemtype="http://schema.org/Offer" itemscope class="product__details__section__meta">
    <meta itemprop="itemCondition" content="https://schema.org/NewCondition" />
    <meta itemprop="availability" content="https://schema.org/InStock" />
    <meta itemprop="price" [content]="product.vendorPrice" />
    <meta itemprop="priceCurrency" content="USD" />
    <div class="product__details__section__meta-price" itemprop="seller" itemtype="http://schema.org/Organization"
      itemscope>
      <meta itemprop="name" [content]="product.vendor" />
      ${{ product.vendorPrice | number : '1.2' }}

      <span class="visible-xs">
        <a *ngIf="!AS.isAuthenticated()" (click)="login(router.url, 'save')">
          <i class="fa-bookmark-o fa"></i>
        </a>
        <a *ngIf="AS.isAuthenticated()" (click)="save(product); gEvent('Save', 'link')">
          <i [ngClass]="saved ? 'fa-bookmark' : 'fa-bookmark-o'" class="fa"></i>
        </a>
      </span>
    </div>
    <div class="product__details__section__meta__container">
      <a class="product__details__section__meta__container-btn btn btn-primary"
        [href]="sanitizer.bypassSecurityTrustResourceUrl(product.vendorUrl)" (click)="gEvent('View Offer', 'button')"
        target="_blank">
        <link itemprop="url" [href]="sanitizer.bypassSecurityTrustResourceUrl(product.vendorUrl)" />
        <span>View Offer</span>
      </a>
      <button [class.disabled]="((AS.isAuthenticated() && productAddedToShoppingList === undefined))"
        class="product__details__section__meta__container-btn btn btn-secondary"
        (click)="addToList(product); gEvent('Add to List', 'button')">
        <span *ngIf="productAddedToShoppingList !== undefined">Add to List</span>
        <img *ngIf="productAddedToShoppingList === undefined" src="assets/svg/three-dots.svg" />
      </button>
    </div>

    <!-- <div class="product__details__section__meta-diet">
      <i class="fa fa-question-circle"></i>
      <div class="product__details__section__meta-diet-popup">
        If your diet goals aren't aligned with this product. We will display feedback for your to see.
      </div>
    </div> -->
  </div>

  <hr />

  <!-- <product-diet [data]="product"></product-diet>-->

  <ng-container *ngIf="product.variations.length">
    <div class="product__details__section-variations">
      <ng-container *ngFor="let i of product.variations">
        <a [routerLink]="['/grocery', urlPath.params.product, i.productId]">
          <img [defaultImage]="load" [lazyLoad]="i.thumbnail" [alt]="i.productTitle" />
        </a>
      </ng-container>
    </div>
    <hr />
  </ng-container>

  <div class="product__details__section-sold">
    <meta itemprop="name" [content]="product.vendor" />
    Sold & Shipped by {{ product.vendor }}
  </div>

  <hr />

  <ng-container *ngIf="product.availability">
    <div class="product__details__section__availability">
      Availability: {{ product.availability }}
      <span class="product__details__section__availability-notified"
        *ngIf="product.availability.includes('not') || product.availability.includes('out')">
        <i class="fa fa-bell-o"></i> <span>Get Notified</span>
      </span>
    </div>
    <hr />
  </ng-container>

  <div class="product__details__section__save">
    <span class="product__details__section__save-save hidden-xs">
      <a *ngIf="!AS.isAuthenticated()" (click)="login(router.url, 'save')">
        <i class="fa-bookmark-o fa"></i> <span>Save for Later</span></a>
      <a *ngIf="AS.isAuthenticated()" (click)="save(product); gEvent('Save', 'link')">
        <i [ngClass]="saved ? 'fa-bookmark' : 'fa-bookmark-o'" class="fa"></i>
        <span *ngIf="!saved">Save for Later</span>
        <span *ngIf="saved">Item Saved</span>
      </a>
    </span>
    <!-- <span class="product__details__section__save-compare" *ngIf="product">
      <a
        (click)="compare(product); gEvent('Compare', 'link')">
        <i [ngClass]="comparedF(product.productId) ? 'fa-plus-square' : 'fa-plus-square-o'" class="fa"></i>
        <span *ngIf="!comparedF(product.productId)">Add to Compare</span>
        <span *ngIf="comparedF(product.productId)">Now Comparing</span>
      </a>
    </span> -->
    <span class="product__details__section__save-watchlist" *ngIf="product">
      <a *ngIf="!AS.isAuthenticated()" (click)="login(router.url, 'watchlist')">
        <i class="fa-eye-slash fa"></i> <span>Add to Watchlist</span></a>
      <a *ngIf="AS.isAuthenticated()" (click)="watchlist(product); gEvent('Watchlist', 'link')">
        <i [ngClass]="watched0 ? 'fa-eye' : 'fa-eye-slash'" class="fa"></i>
        <span *ngIf="!watched0">Add to Watchlist</span>
        <span *ngIf="watched0">Now Watching</span>
      </a>

      <product-social class="visible-xs" *ngIf="product.images && product.brand && product.title && product.category"
        [meta]="product">
      </product-social>
    </span>
  </div>
  <div class="product__details__section__share hidden-xs">
    <span>Share:</span>
    <product-social *ngIf="product.images && product.brand && product.title && product.category" [meta]="product">
    </product-social>
  </div>
  <div *ngIf="!DS.isMobile" class="box-advertisement">
    <ng-adsense [adClient]="'ca-pub-3783664105032363'" [adFormat]="'auto'" [adSlot]="7797307814">
    </ng-adsense>
  </div>
</ng-container>

<ng-template #productDetailsSkeleton>
  <div class="row">
    <div class="col col-md-6">
    </div>
    <div class="col col-md-6">
      <div class="row skeleton-margin-bottom-20">
        <div class="col col-lg-7 col-lg-offset-5 col-md-8 col-md-offset-4 col-sm-offset-8 col-sm-4 col-xs-2">
          <div class="skeleton-bar"></div>
        </div>

        <div class="visible-xs col-xs-1 col-xs-offset-9">
          <div class="skeleton-bar"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row skeleton-margin-bottom-20 hidden-xs">
    <div class="col col-md-9">
      <div class="skeleton-bar-30 skeleton-margin-bottom"></div>
      <div class="skeleton-bar-30"></div>
    </div>
  </div>
  <div class="row skeleton-margin-bottom-20">
    <div class="col col-md-2 col-sm-2 col-xs-3">
      <div class="skeleton-bar"></div>
    </div>
    <div class="col col-md-2 col-sm-2 col-xs-3 col-sm-offset-0 col-xs-offset-6">
      <div class="skeleton-bar"></div>
    </div>
    <div class="col col-md-2 col-sm-2 hidden-xs">
      <div class="skeleton-bar"></div>
    </div>
    <div class="col col-md-2 col-sm-2 hidden-xs">
      <div class="skeleton-bar"></div>
    </div>
  </div>
  <div class="row skeleton-margin-bottom-20 hidden-xs">
    <div class="col col-md-2 col-sm-2">
      <div class="skeleton-bar-40"></div>
    </div>
    <div class="col col-md-3 col-sm-3">
      <div class="skeleton-bar-40"></div>
    </div>
    <div class="col col-md-3 col-sm-3">
      <div class="skeleton-bar-40 "></div>
    </div>
  </div>
</ng-template>
