<div class="solutions">
  <div class="container">
    <div class="solutions__section">
      <div class="solutions__section__container solutions__section__container-main solutions-center">
        <div class="solutions__section__container__header">
          <h1 class="solutions__section__container__header-title solutions__section__container__header-title-larger">Find
            products fast with convienence.</h1>
          <p class="solutions__section__container__header-desc">Have specific requirements, don't rely on one vendor
            local and or online.</p>
          <form-LearnMore tag="host" class="solutions__section__container__header__form"></form-LearnMore>
        </div>
        <div class="solution__section__container__illustration">
        </div>
      </div>
    </div>
  </div>
  <div class="solutions__section">
    <div class="solutions__section-headline">
      Grceri is a online grocery database that allows you track your favorite food products without the hassle.
      Alternate way of looking for products,
      without vendor specific priority. See every vendor selling a certain produce you need for your event, not if your
      preferred vendor has it.
    </div>
  </div>

  <div class="solutions__section">
    <div class="container">
      <div class="solutions__section__container solutions__section__container-two solutions-center">
        <div class="solutions__section__container__illustration"></div>
        <div class="solutions__section__container__header">
          <h2 class="solutions__section__container__header-title solutions__section__container__header-title-reg">Spend
            less time shopping local and online.</h2>
          <p>See all vendors selling your favorite food brands available online. See all the pricing of anyone that
            sells it. Get updates on price change and other benefits included.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="solutions__section">
    <div class="container">
      <div class="solutions__section__container solutions__section__container-two-reverse solutions-center">
        <div class="solutions__section__container__header">
          <h2 class="solutions__section__container__header-title solutions__section__container__header-title-reg">Smoother
            online shopping experience</h2>
          <p>Overtime using this service will save you time & money, not focusing on brands and vendors, but price.
            Making smarter choices when shopping online for food.</p>
        </div>
        <div class="solutions__section__container__illustration"></div>
      </div>
    </div>
  </div>

  <div class="solutions__section solutions-border-bottom">
    <div class="container">
      <div class="solutions__section__container__center">
        <div class="solutions__section__container__center__header">
          <h2 class="solutions__section__container__center__header-title">Streamline choices to save time</h2>
          <p>In Grceri, we put multiple buying decisions to help streamline your choices. Spend less time shopping
            online overtime with our tools.</p>
        </div>
        <div class="solutions__section__container solutions__section__container-two">
          <div class="solutions__section__container__illustration"></div>
          <div class="solutions__section__container__list">
            <ul>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="solutions__section">
    <div class="container">
      <div class="solutions__section__wrap-small text-center">
        <h2 class="solutions__section__wrap-small-title">Create lists to spend less time shopping</h2>
        <p>By integrating this service you will save time and money over time.</p>
      </div>
      <div class="solutions__section__wrap-small__container">
        <div class="solutions__section__wrap-small__container__columns">
          <div class="solutions__section__wrap-small__container__columns__column">
            <div class="solutions__section__wrap-small__container__columns__column-number">31%</div>
            <div class="solutions__section__wrap-small__container__columns__column-desc">Average reduction in online
              shopping</div>
          </div>
          <div class="solutions__section__wrap-small__container__columns__column">
            <div class="solutions__section__wrap-small__container__columns__column-number">30%</div>
            <div class="solutions__section__wrap-small__container__columns__column-desc">Improvement in shopping
              decisions</div>
          </div>
          <div class="solutions__section__wrap-small__container__columns__column">
            <div class="solutions__section__wrap-small__container__columns__column-number">24%</div>
            <div class="solutions__section__wrap-small__container__columns__column-desc">Average saved shopping online.</div>
          </div>
        </div>
      </div>
      <div class="solutions__content">
        <p>These results were based on a survey of 10,000 people using this service.</p>
      </div>
    </div>
  </div>

</div>