<div *ngIf="env.mobile || router.url != '/'" class="mobile-footer">
  <div class="mobile-footer-container">
    <a class="mobile-footer__item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"
      routerLink="/">
      <img alt="shop" src="assets/svg/mobile/shop.svg" />
      <span>Shop</span>
    </a>
    <a class="mobile-footer__item" [routerLinkActive]="['active']"
      [routerLink]="AS.isAuthenticated() ? '/lists' : '/lists/discover'">
      <img alt="lists" src="assets/svg/mobile/lists.svg" />
      <span>{{ AS.isAuthenticated() ? 'Lists' : 'Discover' }}</span>
    </a>
    <a class="mobile-footer__item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"
      routerLink="/watchlists">
      <img alt="watchlist" src="assets/svg/mobile/watchlist.svg" />
      <span>Watch</span>
    </a>
    <a class="mobile-footer__item" [routerLinkActive]="['active']" routerLink="/user">
      <img alt="watchlist" src="assets/svg/mobile/user.svg" />
      <span>User</span>
    </a>
  </div>
</div>

<footer 
  [class.mobile]="env.mobile || router.url != '/'"
  class="reg">
  <div class="container"  
    *ngIf="
    (!router.url.startsWith('/lists') && 
    !router.url.startsWith('/user') && 
    router.url != '/watchlists' && 
    router.url === '/') || !env.mobile">
    <div class="row main">
      <div class="col col-md-3 col-sm-6">
        <h5 class="reg-title">Online Grocery Database</h5>
        <p class="reg-desc">Grceri is the best solution for searching your favorite food products online.</p>

        <a href="https://play.google.com/store/apps/details?id=com.grceri" class="android">
          <img src="assets/svg/android.svg" />
        </a>
      </div>

      <div class="col col-md-offset-3 col-md-6 col-sm-offset-1 col-sm-5">
        <footer-nav></footer-nav>
      </div>
    </div>
    <div class="row links">
      <div class="col col-md-6 col-sm-6">
        <ul class="reg__links">
          <li class="reg__links-link reg__links-link">
            <img src="assets/svg/cart.svg" alt="Grceri - Logo" />
          </li>
          <li class="reg__links-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a (click)="GS.event('link', 'Footer - Privacy & Terms', 'click', 0)" routerLink="/policies">Terms of
              Service</a>
          </li>
          <li class="reg__links-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a (click)="GS.event('link', 'Footer - Privacy & Terms', 'click', 0)" routerLink="/policies">Privacy
              Policy</a>
          </li>
          <li class="reg__links-link reg__links-link-copyright">
            © {{ d.getFullYear() }} Grceri
          </li>
          <!-- <li class="reg__links-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a
            (click)="GS.event('link', 'Footer - Pricing', 'click', 0)" 
            routerLink="/pricing">Pricing</a>
        </li> -->
        </ul>
      </div>
      <div class="col col-md-6 col-sm-6">
        <div class="reg__social">
          <a href="http://facebook.com/grceri" target="_blank" class="reg__social-link">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="http://pinterest.com/grceri" target="_blank" class="reg__social-link">
            <i class="fa fa-pinterest"></i>
          </a>
          <a href="http://twitter.com/grceri" target="_blank" class="reg__social-link">
            <i class="fa fa-twitter"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
