// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

//  BEM - Block Element Modifier
//  This is how our code is structured. Please follow this layout and format.
//  More Info: https://css-tricks.com/bem-101/
//
//  .steps {
//	    &__item {		
//		    &--first {}
//		    &--last {}
//		    &--active {}
//		    &--done {}
//	    }
//	    &__link {}
//  }

@import "../../../assets/css/abstracts/_mixins.scss" ;
@import "../../../assets/css/abstracts/_variables.scss" ;


:host {
  .pricing {
    position: relative;

    &-stripe {
      position: absolute;
      width: 100%;
      height: 400px;
      overflow: hidden;
      transform: skewY(-12deg);
      transform-origin: 500px;
      background: #f6f6f6;
      z-index: -1;
    }

    &__header {
      padding: 5rem 0;
      text-align: center;

      @media (max-width: $screen-md) {
        padding: 3rem 2rem;
      }

      &-title {
        @include font-size(45px);
        font-family: 'B', sans-serif;
        margin: 0 auto 1.5rem;
        letter-spacing: 2px;
        color: #333;

        @media (max-width: $screen-lg) {
          @include font-size(35px);
        }
      }

      &-desc {
        @include font-size(20px);
        font-family: 'AL', serif;
        max-width: 32rem;
        color: #777;
        margin: 0 auto;
        letter-spacing: 1px
      }
    }

    &__container {
      @media (max-width: $screen-lg) {
        table {
          border: 0;

          thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
          }

          .table-hide {
            display: none;
          }

          tr {
            td {
              @include font-size(14px);
              font-family: 'AL', sans-serif;
              display: block;
              text-align: right;
              height: 60px;
              color: #666;

              @media (max-width: $screen-sm) {
                height: 55px;
              }

              @media (max-width: $screen-xs) {
                height: 48px;
                padding: 1rem 1.5rem;
              }

              &.title {
                @include font-size(15px);
                font-style: italic;
                font-weight: 500;
                font-family: 'AM', sans-serif;
                color: #333;
                letter-spacing: .5px;
              }

              &[scope="col"] {
                @include font-size(16px);
                font-family: 'B', sans-serif;
              }

              img {
                display: inline-block;
                width: 15px;
                height: 15px;
              }

              &::before {
                content: attr(data-label);
                float: left;
                font-family: 'AM', sans-serif;
                text-transform: uppercase;
                color: #444;
              }

              a {
                text-decoration: none;
                border: none;

                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }

      tr {
        &.show-mobile {
          background: #fafafa;
          display: none;

          @media (max-width: $screen-lg) {
            display: block;
          }

          td {
            font-family: 'AB', sans-serif;

            &:first-child {
              text-align: right;
            }

            &:before {
              font-family: 'AB', sans-serif;
            }
          }
        }
      }

      &__table {
        background: $white;
        padding: 2rem;
        width: 100%;
        display: table;
        table-layout: fixed;
        border-bottom: none;
        border-top: 1px solid #ebebeb;
        border-right: 1px solid #ebebeb;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);

        td {
          @include font-size(15px);
          padding: 1.2rem 2rem;
          text-align: center;
          border-left: 1px solid #ebebeb;
          color: #5b5e6d;
          line-height: 1.5;
          letter-spacing: .5px;
          vertical-align: middle;

          p {
            font-size: 1rem;
            margin: 0px;
          }

          img {
            width: 20px;
            height: 20px;
            display: inherit;
            margin: 0px auto;
          }

          a {
            color: $green;
            text-decoration: none;
            border-bottom: 1px solid $green;
            transition: all 420ms cubic-bezier(.165, .84, .44, 1);
            word-break: break-word;
          }

          .btn {
            @include font-size(14px);
            font-family: 'AM', serif;
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: 1px;

            &-primary {
              font-family: 'AB', serif;
            }
          }

          &:first-child {
            text-align: left;
          }
        }

        tr {
          border-bottom: 1px solid #ebebeb;
        }

        &-bottom-padding {
          td {
            padding-bottom: 2rem;
          }
        }

        &-valign-top {
          vertical-align: top;
        }

        &__tooltip {
          vertical-align: top;
          margin-left: 5px;
          cursor: pointer;
          color: #333;
          display: inline-block !important;
          height: 20px;
          position: relative;

          &-content {
            display: none;
            transition: all .1s;
            position: absolute;
            z-index: 100;
            padding: 17px 20px 20px;
            background-color: $white;
            box-shadow: 0 0 2px rgba(0, 0, 0, .1);
            width: 300px;
            max-width: 300px;
            font-size: .875rem;
            border-top: 3px solid #eeb523;
            margin-left: 50%;
            left: 100%;
            top: 50%;
            transform: translate(10px, -50%);
            bottom: auto;
            margin-bottom: 0;
          }

          &:hover {

            .pricing__container__table__tooltip-content {
              display: block;
            }
          }
        }

        &-sep {
          display: block;
          width: 35px;
          height: 2px;
          background-color: #eeb523;
          margin: 0 auto 1.5rem;
        }

        &__no-border {
          border-bottom: none !important;
        }

        &-feature {
          background-color: rgba(235, 235, 235, .4);

          td {
            font-family: 'AB', serif;
            font-weight: 400;
            letter-spacing: .5px;
            color: #323648;
            text-align: left;
          }
        }

        &__no-border {
          text-align: center;

          &__price {
            vertical-align: top !important;

            &-title {
              @include font-size(13px);
              font-family: 'AM', serif;
              line-height: 1.2;
              letter-spacing: 1px;
              font-weight: 400;
              margin-top: 1.5rem;
              margin-bottom: .25rem;
              text-transform: uppercase;
              color: #999;
            }

            &-price {
              @include font-size(40px);
              font-family: 'B', serif;
              margin: 0 0 1.5rem;
              position: relative;
              font-weight: 500;
              color: #333;

              span {
                @include font-size(16px);
                display: inline-block !important;
                margin-right: 5px;
                vertical-align: middle;
              }
            }

            &-small {
              margin-top: .5rem !important;
            }

            span {
              display: block;
            }
          }
        }
      }
    }

    &__faq {
      margin: 10% 0;

      &-title {
        @include font-size(24px);
        font-family: 'B', sans-serif;
        margin: 0 0 6%;
      }

      ul {
        li {
          margin-bottom: 5%;
          line-height: 26px;

          strong {
            @include font-size(18px);
            font-family: 'AB', serif;
            display: block;
          }

          p {
            @include font-size(15px);
            color: #555;
          }

          &:last-child {
            margin: 0px;
          }
        }
      }
    }

    &__addons {
      margin: 10% 0;

      @media (max-width: $screen-lg) {
        display: none;
      }

      &-title {
        @include font-size(24px);
        font-family: 'B', sans-serif;
        margin: 0 0 5px;
      }

      &-desc {
        color: #777;
        margin-bottom: 30px;
        display: block;
      }

      &__content {
        @include box-shadow(0 0 3px rgba(0, 0, 0, 0.1));
        border: 1px solid #ebebeb;
        border-bottom: none;

        &__addon {
          border-bottom: 1px solid #ebebeb;
          padding: 0 0 20px 0;
          display: table;
          width: 100%;

          &-title {
            @include font-size(14px);
            font-family: 'AB', serif;
            font-weight: 400;
            margin: 0 0 20px;
            border-bottom: 1px solid #ebebeb;
            background: rgba(235, 235, 235, 0.4);
            padding: 20px 30px;

            .btn {
              @include font-size(14px);
              font-family: 'AB', serif;
              font-weight: 400;
              text-transform: uppercase;
              letter-spacing: 1px;
              float: right;
              position: relative;
              top: -7px;
              right: -2px;
              line-height: 28px;
              width: 75px;
            }
          }

          &__desc {
            @include font-size(15px);
            display: inline-block;
            width: 90%;

            p {
              margin: 0 0 0 30px;
              color: #5b5e6d;
            }
          }

          &__price {
            width: 10%;
            display: inline-block;
            text-align: right;
            padding-right: 30px;

            strong {
              @include font-size(15px);
              font-family: 'AB', serif;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}
