<div class="card-header">
  <h2>Billing Methods <button class="btn btn-primary small">Add Method</button></h2>
</div>
<div class="card-body">
  <section>
    <h4>Primary</h4>

    <ul>
      <li>Discover ending in 6104
        <div class="card-dropdown" dropdown>
          <a dropdownToggle data-toggle="dropdown" aria-haspopup="true" aria- expanded="true">
            <img  alt="dots" src="assets/svg/dots.svg" />
          </a>
          <ul *dropdownMenu class="card-dropdown-menu dropdown-menu" role="menu" aria-labelledby="menu1">
            <li role="presentation">
              <a role="menuitem" tabindex="-1" href="#">Edit</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </section>
</div>
