<div class="module">
  <a class="module-logo" [routerLink]="['/']">
    <img  src="assets/svg/cart.svg" alt="Grceri" />
  </a>

  <div class="module__content col col-lg-8 col-md-6 col-sm-7 col-xs-10">
    <div class="module__content__header">
      <h2 class="module__content__header-title">Forgot your password?</h2>
      <h3 class="module__content__header-subtitle">Please fill in the email that you used to register. You will be sent an email with instructions on how to reset your password.</h3>
    </div>

    <form [formGroup]="forgot">
      <div class="module__content__fields">
        <ng-container *ngFor="let i of message">
          <alert *ngIf="i" [type]="i.type" (onClosed)="_close(i)" [dismissOnTimeout]="4000" [dismissible]="true"> {{
            i.value
            }} </alert>
        </ng-container>

        <div class="module__content__fields__form-group form-group">
          <input #email type="email" placeholder="Email Address" class="form-control" name="email" formControlName="email" autofocus />
        </div>
      </div>
      <button type="submit" [disabled]="!forgot.valid || disabled" class="btn btn-primary"
        (click)="reset(forgot.controls.email.value);">
        <span [class.hidden]="submit == true">Send Email</span>
        <span [class.hidden]="submit != true" class="spinner">
          <img  src="assets/svg/three-dots.svg" width="35" alt="" />
        </span>
      </button>
    </form>
    <div class="module__content-acct">
      Remember your password? <a [routerLink]="['/login']">Sign In</a>
    </div>
  </div>
</div>
<div class="billboard visible-lg"></div>
