<div class="solutions">
  <div class="container">
    <div class="solutions__section">
      <div class="solutions__section__container solutions__section__container-main solutions-center">
        <div class="solutions__section__container__header">
          <h1 class="solutions__section__container__header-title solutions__section__container__header-title-larger">Make
            smarter buying decisions</h1>
          <p class="solutions__section__container__header-desc">See nutritional information and pricing of every
            seller online.</p>
          <form-LearnMore tag="parent" class="solutions__section__container__header__form"></form-LearnMore>
        </div>
        <div class="solution__section__container__illustration">
        </div>
      </div>
    </div>
  </div>
  <div class="solutions__section">
    <div class="solutions__section-headline">
      Grceri is a online grocery database that allows you track your favorite food products without the hassle.
      Streamlining buying decision while considering factors that are important to parents. Including information
      related to children preferences, diet restrictions, and or allergies all customized for you.
    </div>
  </div>

  <div class="solutions__section">
    <div class="container">
      <div class="solutions__section__container solutions__section__container-two solutions-center">
        <div class="solutions__section__container__illustration"></div>
        <div class="solutions__section__container__header">
          <h2 class="solutions__section__container__header-title solutions__section__container__header-title-reg">See
            nutritional information.</h2>
          <p>Find the right information to make healthy buying decisions for your children. We summarize daily intake
            and recommendations based on your lists. You can also customize lists individually and have different needs
            set if necessary.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="solutions__section">
    <div class="container">
      <div class="solutions__section__container solutions__section__container-two-reverse solutions-center">
        <div class="solutions__section__container__header">
          <h2 class="solutions__section__container__header-title solutions__section__container__header-title-reg">Have
            different diets for each of your children.</h2>
          <p>Set individual dietary needs for children with certain allergic reactions, and or for religious purposes
            if unsure. Provided on every product will display nutritional daily intake and diet approval set for your
            active list.
          </p>
        </div>
        <div class="solutions__section__container__illustration"></div>
      </div>
    </div>
  </div>

  <div class="solutions__section">
    <div class="container">
      <div class="solutions__section__container__center">
        <div class="solutions__section__container__center__illustration"></div>
        <div class="solutions__section__container__center__header">
          <h2 class="solutions__section__container__center__header-title">Find products best for your kids</h2>
          <p>By integrating our tools, parents can manage individual needs of their kids, dietary restrictions, and or
            calorie intake for smarter buying decisions. Spend less time looking for products and comparing, with your
            restrictions, we will display it for you based on your settings.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="solutions__section solutions-grey">
    <div class="container">
      <div class="solutions__section__container__center">
        <div class="solutions__section__container__center__header">
          <h2 class="solutions__section__container__center__header-title">Streamline choices to save time</h2>
          <p>In Grceri, we put multiple buying decisions to help streamline your choices. Spend less time shopping
            online overtime with our tools.</p>
        </div>
        <div class="solutions__section__container solutions__section__container-two">
          <div class="solutions__section__container__illustration"></div>
          <div class="solutions__section__container__list">
            <ul>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="solutions__section">
    <div class="container">
      <div class="solutions__section__wrap-small text-center">
        <h2 class="solutions__section__wrap-small-title">Create lists to spend less time shopping</h2>
        <p>By integrating this service you will save time and money over time.</p>
      </div>
      <div class="solutions__section__wrap-small__container">
        <div class="solutions__section__wrap-small__container__columns">
          <div class="solutions__section__wrap-small__container__columns__column">
            <div class="solutions__section__wrap-small__container__columns__column-number">31%</div>
            <div class="solutions__section__wrap-small__container__columns__column-desc">Average reduction in online
              shopping</div>
          </div>
          <div class="solutions__section__wrap-small__container__columns__column">
            <div class="solutions__section__wrap-small__container__columns__column-number">30%</div>
            <div class="solutions__section__wrap-small__container__columns__column-desc">Improvement in shopping
              decisions</div>
          </div>
          <div class="solutions__section__wrap-small__container__columns__column">
            <div class="solutions__section__wrap-small__container__columns__column-number">24%</div>
            <div class="solutions__section__wrap-small__container__columns__column-desc">Average saved shopping online.</div>
          </div>
        </div>
      </div>
      <div class="solutions__content">
        <p>These results were based on a survey of 10,000 people using this service.</p>
      </div>
    </div>
  </div>

</div>
