<div class="container">
    <div class="compare__page">
      <h1 class="compare__page-title">Compare Groceries</h1>
      <div class="compare__page__container">
        <ng-container *ngIf="items == ''">
          <div class="compare__page__container__no-items">
            <div class="compare__page__container__no-items__content">
                <div class="compare__page__container__no-items__content__text">
              <h1 class="compare__page__container__no-items__content__text-title">You have no items to compare</h1>
              <p class="compare__page__container__no-items__content__text-desc">Comparing items is easy, get started below.</p>
              <a routerLink="/groceries" class="compare__page__container__no-items__content__text-btn btn btn-primary">Start Shopping</a>
            </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="items > ''">
          <div class="compare__page__container__sidebar">
            <div class="compare__page__container__sidebar__header">
              <h1 class="compare__page__container__sidebar__header-title">
                <ng-container *ngIf="items.length < 9">
                  0{{items.length}}
                </ng-container>
                <ng-container *ngIf="items.length > 9">
                  {{items.length}}
                </ng-container>
              </h1>
              <p class="compare__page__container__sidebar__header-desc">Products to compare</p>
              <div class="compare__page__container__sidebar__header__nav">
                <div class="compare__page__container__sidebar__header__nav-grp">
                  <i #left class="fa fa-angle-left"></i>
                  <i #right class="fa fa-angle-right"></i>
                </div>
              </div>
            </div>
            <div class="compare__page__container__sidebar__sub">
              <h2 class="compare__page__container__sidebar__sub-title" *ngFor="let i of items.header">{{i.name}}</h2>
            </div>
          </div>
          <div #ul class="compare__page__container__content">
            <div #item class="compare__page__container__content__item" *ngFor="let i of items; let x of index;">
              <img  (click)="_close(x)" class="compare__page__container__content__item-close" src="assets/svg/close.svg" />
              <div class="compare__page__container__content__item__header">
                <h3 class="compare__page__container__content__item__header-cat">{{i.category}}</h3>
                <h2 class="compare__page__container__content__item__header-title">{{i.name}}</h2>
                <h4 class="compare__page__container__content__item__header-price">{{i.price}}</h4>
                <img  class="compare__page__container__content__item__header-img" [src]="i.images[0]" [alt]="i.name" />
              </div>
              <div class="compare__page__container__content__item__items">
                <div class="compare__page__container__content__item__items-desc">{{i.description}}</div>
              </div>
              <a (click)="_add(i)" class="compare__page__container__content__item-btn btn btn-primary">Add to Cart</a>
            </div>
          </div>
        </ng-container>
      </div>
  </div>
</div>