// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

//  BEM - Block Element Modifier
//  This is how our code is structured. Please follow this layout and format.
//  More Info: https://css-tricks.com/bem-101/
//
//  .steps {
//	    &__item {		
//		    &--first {}
//		    &--last {}
//		    &--active {}
//		    &--done {}
//	    }
//	    &__link {}
//  }

@import "../../../../../../../assets/css/abstracts/_mixins.scss";
@import "../../../../../../../assets/css/abstracts/_variables.scss" ;

.product {
  &__image-carousal {
    display: block;
    text-align: center;
    position: relative;

    &__gallery {
      height: 560px;

      @media (max-width: $screen-sm) {
        margin-bottom:  40px;
      }

      &-thumbnails {
        position: absolute;
        height: 560px;
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;

        &__container {
          height: 500px;
          width: 60px;
          position: relative;
          white-space: nowrap;
          overflow: hidden;

          ul {
            @include transition(margin 400ms ease);

            li {
              height: 100px;
              width: 100%;
              display: block;
              position: relative;

              img {
                @include transform(perspective(1px) translateY(-50%));
                position: relative;
                top: 50%;
                max-width: 100%;
                height: auto;
                max-height: 80px;
                cursor: pointer;
              }

              &:after {
                @include transition(border-color 400ms ease);
                content: "";
                display: block;
                height: 3px;
                width: 100%;
                border-bottom: 3px solid $white;
                position: absolute;
                left: 0;
                bottom: 0;
                outline: none;
                z-index: 2;
              }

              &.active,
              &:hover {
                &:after {
                  border-color: #737373;
                }
              }
            }
          }
        }

        &__pagination {
          position: absolute;
          left: 0px;
          height: 100%;

          &-left,
          &-right {
            @include font-size(18px);
            @include transition(background-color .4s ease);
            @include opacity(.3);
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $white;
            width: 60px;
            height: 20px;
            left: 50%;
            text-align: center;

            &.active {
              @include opacity(1);
              cursor: pointer;

              &:hover {
                background-color: #fafafa;
              }
            }

            &:before,
            &:after {
              position: relative;
              left: 1px;
            }
          }

          &-left {
            top: 0;

            &:before {
              @include transform(rotate(90deg));
            }
          }

          &-right {
            bottom: 0;

            &:before {
              @include transform(rotate(90deg));
            }
          }
        }
      }

      &__container {
        height:560px;
        display: flex;
        vertical-align: middle;
        justify-content: center;
        align-items: center;

        &-image {
          max-width: 500px;
          width: 100%;
          display: inline-flex;
          justify-content: center;
          position: relative;

          img {
            max-width: 500px;
            width: 100%;
          }
        }    
      }
    }

    >img {
      margin-top: 50px;
    }

    slider {
      margin-top: 20px;
      display: block;

      &::ng-deep {
        img {
          max-width: 500px;
          width: 100%;

          @media screen and (max-width: $screen-md) {
            max-width: 350px;
          }

          @media screen and (max-width: $screen-sm) {
            max-width: 200px;
          }
        }
      }
    }
  }
}
