<div class="product__image-carousal" *ngIf="product && product.images?.length > 0; else carouseSkeleton">
  <div class="hidden-xs hidden-sm hidden-md visible-lg">
    <ng-container *ngIf="product.count > 1">
      <div class="product__image-carousal__gallery">
        <div class="product__image-carousal__gallery-thumbnails">
          <div class="product__image-carousal__gallery-thumbnails__container">
            <ul #pag>
              <ng-container *ngFor="let i of product.images; let x = index">
                <li #item [class.active]="activeProduct == product.images[x].original"
                  (click)="_activeProducts(product.images[x].original)">
                  <link itemprop="image"
                    [href]="sanitizer.bypassSecurityTrustResourceUrl(product.images[x].original)" />
                  <img [defaultImage]="load" [lazyLoad]="product.images[x].thumbnail" [alt]="product.title" />
                </li>
              </ng-container>
            </ul>
          </div>
          <div class="product__image-carousal__gallery-thumbnails__pagination">
            <i #left class="product__image-carousal__gallery-thumbnails__pagination-left fa fa-angle-left"></i>
            <i #right class="product__image-carousal__gallery-thumbnails__pagination-right fa fa-angle-right"></i>
          </div>
        </div>
        <div class="product__image-carousal__gallery__container">
          <div class="product__image-carousal__gallery__container-image-multiple">
            <img [defaultImage]="load" [lazyLoad]="activeProduct" [alt]="product.title" />
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="product.count === 1">
      <div class="product__image-carousal__gallery__containers">
        <div class="product__image-carousal__gallery__container-image">
          <link itemprop="image" [href]="sanitizer.bypassSecurityTrustResourceUrl(activeProduct)" />
          <img [defaultImage]="load" [lazyLoad]="activeProduct" [alt]="product.title" />
        </div>
      </div>
    </ng-container>
  </div>

  <!-- DESKTOP -->
  <div class="hidden-xs hidden-sm visible-md hidden-lg">
      <slider 
        [showC]="product.images.length > 1 ? true : false" 
        [multiple]="product.images.length > 1 ? true : false"
        [count]="product.images.length">
        <ng-container *ngFor="let i of product.images;">
          <ng-container *sliderItem>
            <img [defaultImage]="load" [lazyLoad]="i.sizes.desktop" [alt]="product.title" />
          </ng-container>
        </ng-container>
      </slider>
    </div>

  <!-- MOBILE -->
  <div class="visible-xs hidden-sm hidden-md hidden-lg">
    <slider 
      [showC]="product.images.length > 1 ? true : false" 
      [multiple]="product.images.length > 1 ? true : false"
      [count]="product.images.length">
      <ng-container *ngFor="let i of product.images;">
        <ng-container *sliderItem>
          <img [defaultImage]="load" [lazyLoad]="i.sizes.mobile" [alt]="product.title" />
        </ng-container>
      </ng-container>
    </slider>
  </div>
      
  <!-- TABLET -->
  <div class="visible-sm hidden-xs hidden-md hidden-lg">
      <slider 
        [showC]="product.images.length > 1 ? true : false" 
        [multiple]="product.images.length > 1 ? true : false"
        [count]="product.images.length">
        <ng-container *ngFor="let i of product.images;">
          <ng-container *sliderItem>
            <img [defaultImage]="load" [lazyLoad]="i.sizes.tablet" [alt]="product.title" />
          </ng-container>
        </ng-container>
      </slider>
    </div>
</div>

<ng-template #carouseSkeleton>
  <div class="row skeleton-margin-bottom-40">
    <div class="col col-md-2 hidden-sm hidden-xs skeleton-margin-top-20">
      <div class="row">
        <div class="col col-lg-7 col-md-10">
          <div class="skeleton-bar-40 skeleton-margin-bottom-20 skeleton-margin-top-20"></div>
        </div>
      </div>
      <div class="row">
        <div class="col col-lg-7 col-md-10">
          <div class="skeleton-bar-40 skeleton-margin-bottom-20"></div>
        </div>
      </div>
      <div class="row">
        <div class="col col-lg-7 col-md-10">
          <div class="skeleton-bar-40 skeleton-margin-bottom-20"></div>
        </div>
      </div>
      <div class="row">
        <div class="col col-lg-7 col-md-10">
          <div class="skeleton-bar-40 skeleton-margin-bottom-20"></div>
        </div>
      </div>
      <div class="row">
        <div class="col col-lg-7 col-md-10">
          <div class="skeleton-bar-40 skeleton-margin-bottom-20"></div>
        </div>
      </div>
      <div class="row">
        <div class="col col-lg-7 col-md-10">
          <div class="skeleton-bar-40 skeleton-margin-bottom-20"></div>
        </div>
      </div>
    </div>
    <div class="col col-md-10">
      <div class="row">
        <div class="col col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1">
          <div class="skeleton-bar-carousel"></div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
