// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

//  BEM - Block Element Modifier
//  This is how our code is structured. Please follow this layout and format.
//  More Info: https://css-tricks.com/bem-101/
//
//  .steps {
//	    &__item {		
//		    &--first {}
//		    &--last {}
//		    &--active {}
//		    &--done {}
//	    }
//	    &__link {}
//  }

@import "../../../../../../../assets/css/abstracts/_mixins.scss";
@import "../../../../../../../assets/css/abstracts/_variables.scss";

.product {
  &__popup-feedback {

    .k-content {
      @include font-size(16px);
      line-height: 1.5;
      padding: 25px;
      height: 550px;
    }

    &-close {
      height: 13px;
      position: absolute;
      right: 16px;
      top: 16px;
      width: 13px;
    }

    &-title {
      @include font-size(20px);
      font-family: 'AL', serif;
      letter-spacing: .5px;
      margin: 0 0 32px;
    }

    label {
      @include font-size(16px);
      font-family: 'AL', serif;
      margin: .25rem 0;
      color: #6d6e71;
      padding-bottom: 0px;
      font-weight: 400;
      letter-spacing: .5px;
    }

    kendo-dropdownlist {
      width: 100%;

      .k-input {
        @include font-size(16px);
        color: #333;
        font-family: 'AL', serif;
        letter-spacing: .5px;
        font-weight: 400;
        height: 50px;
        padding-left: 15px;
      }

      .k-select,
      .k-input {
        background: $white;
      }
    }

    textarea {
      resize: none;
      width: 100%;
      padding: 1rem;
      height: 120px;
      border: 1px solid rgba(0, 0, 0, .08);
    }

    &-btn {
      text-align: right;
      margin-bottom: 64px;

      >* {
        @include font-size(17px);
        font-family: 'AL', serif;
        display: inline-block;
        width: auto;
        height: 2.5rem;
        font-weight: 400;
        line-height: inherit;
      }

      &-clear {
        background: transparent;
        text-decoration: underline;
        display: inline-block;
        height: auto;
        padding: 0;
        margin-right: 20px;

        &:hover {
          background: none;
        }
      }

      &-main {
        @include border-radius(30px);
        font-family: 'AM', serif;
        padding: 0 2.125rem;
        text-align: center;
        color: $white;
        background: #999;
      }
    }

    p {
      @include font-size(15px);
      font-family: 'AL', serif;
      font-weight: 400;
      color: #6d6e71;
      text-align: left;
      letter-spacing: .25px;

      a {
        text-decoration: underline;
        color: #333;
      }
    }
  }
}
