<router-outlet></router-outlet>

<section class="cta">
    <div class="container">
      <div class="row">
        <div class="col col-md-6">
          <h3 class="cta-title">Ready to get started?</h3>
          <h4 class="cta-subtitle">Start shopping or create an account.</h4>
        </div>
        <div class="col col-md-6">
          <a [routerLink]="['/pricing']" class="cta-btn btn btn-primary">Create Grceri Account</a>
          <a [routerLink]="['/groceries']" class="cta-btn btn">Start Shopping</a>
        </div>
      </div>
    </div>
  </section>